[2022-09-03 14:23] neel04 commented on #647
I have, there seems to be no difference.

[2022-09-03 14:28] pacman100 commented on #647
In the above config, it is false

[2022-09-03 14:30] neel04 commented on #647
right, I changed backend to `static` and `same_network=true`

[2022-09-04 09:30] eavidan commented on #661
Thanks for the clarification. works :)

[2022-09-04 10:51] jcyk opened #677 "How to set the torch elastic params (e.g., max_restarts)?"
Hi All,

I am using `torch==1.9.0` and `accelerate=0.9.0`

I use the following to start my training script:
`accelerate launch --multi_gpu --mixed_precision=fp16 --num_machines 1 --num_processes 8 train.py`

As seen, the training runs in a single machine with 8 GPUs.  and the following information is printed.

[code]

We can see that accelerate uses the torch's elastic run. The thing I want to is

[2022-09-04 14:05] jcyk opened #678 "find a dead loop in the code"
https://github.com/huggingface/accelerate/blob/60d6807c36e968282221c500927079d752da8662/src/accelerate/data_loader.py#L481-L484

As seen, if `stop_iteration`  is `False` and `next_skip` is `True`, this is a dead loop. I encountered this problem in my training, did not figure out the logics. please help.

[2022-09-04 15:05] #518 closed

[2022-09-04 17:22] etiennebeaulac opened #679 "Error in prepared DataLoader with BatchSampler"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

MRE : https://c

[2022-09-05 04:32] Nuwan1654 commented on #314
I am having the same issue with yolov7.  https://github.com/WongKinYiu/yolov7/issues/714

[2022-09-05 10:35] cyk1337 commented on #243
Hi @ikergarcia1996, I also met the same `Nan` problem for training mt5 using fp16. How did you solve it?

[2022-09-05 12:51] ikergarcia1996 commented on #243
@cyk1337 You must train the model using BF16 instead of FP16 (Accelerate already supports bf16). If you GPU doesn't support BF16 you should train the model using FP32. I don't know if somebody has find a way to successfully finetune T5 in FP16.

[2022-09-05 15:06] #570 closed

[2022-09-05 15:26] pacman100 commented on #677
Hello @jcyk, the above PR should be able to resolve your requirements. Please try it out.

[2022-09-06 10:45] abrayne opened #681 "OOM GPT2-Large when moving to distributed setting (MULTI_GPU/FSDP) from distributed_type: NO"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

Following this

[2022-09-06 14:18] etiennebeaulac commented on #679
Thanks @sgugger for your answer. This confused me too at first, but it is apparently the way it should be done, as shown in the [HuggingFace docs](https://huggingface.co/docs/datasets/v2.4.0/en/use_with_pytorch#use-a-batchsampler) and in this [StackOverflow answer](https://stackoverflow.com/a/61458670).

[2022-09-06 14:25] sgugger commented on #679
I believe this a typo in both cases.

[2022-09-06 15:27] sgugger commented on #678
Thanks for reporting! This should be addressed by the PR above!

[2022-09-07 02:30] jcyk commented on #678
Thanks!

[2022-09-07 07:30] Chris-hughes10 opened #684 "Could `join` replace `gather_for_metrics`?"
Hi,

Great job with accelerate!

One persistent headache that I keep experiencing is the repeated samples during distributed evaluation. Although there is the `gather_for_metrics` functionality this doesn't always work depending on the output of the model; for example, Faster-RCNN in Torchvision, which outputs a list of dictionaries containing tensors.

I was wondering if it would be possible to r

[2022-09-07 08:08] cyk1337 commented on #662
Hi @pacman100, as aforementioned, suppose the `args.max_train_steps` and `warmup_steps` both divided by the `num_gpus`, the total training step (see the example [https://github.com/huggingface/transformers/blob/f2fbe4475386bfcfb3b83d0a3223ba216a3c3a91/examples/pytorch/translation/run_translation_no_trainer.py#L649](https://github.com/huggingface/transformers/blob/f2fbe4475386bfcfb3b83d0a3223ba216a

[2022-09-07 08:10] cyk1337 commented on #662
The [link](https://github.com/huggingface/accelerate/blob/d0f5f4a630bda69dcf89cc6d55f93c71f2af7a0d/src/accelerate/scheduler.py#L70) reduces the lr scheduler steps for warmup, rather than `max_train_steps`. Where was the `max_train_steps` reduced?

[2022-09-07 08:17] IRNLPCoder opened #685 "Bug on resume training on single GPU and multiple GPUs"
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

When loading ch

[2022-09-07 08:23] cyk1337 commented on #662
Multi-gpus expand the actual batch size by `num_gpu` times, so we would like to treat the `num_gpus` batches (each gpu processes one batch) as one batch of the global steps. However, with `accelerate.prepare`, the lr scheduler steps `num_gpus` steps rather than one step. I was confused about this. Unsure whether there are misunderstandings.

[2022-09-07 09:20] pacman100 commented on #662
@cyk1337 , yes.

`max_train_steps` is recomputed/reduced by `num_gpus`. in the below code snippet as the length of dataloader reduces by `num_gpus` post `prepare` call.

https://github.com/huggingface/transformers/blob/f2fbe4475386bfcfb3b83d0a3223ba216a3c3a91/examples/pytorch/translation/run_translation_no_trainer.py#L545-L548

In Multi-GPU setting, as mentioned above and in previous comments, the

[2022-09-07 09:58] cyk1337 commented on #662
[https://github.com/huggingface/transformers/blob/f2fbe4475386bfcfb3b83d0a3223ba216a3c3a91/examples/pytorch/translation/run_translation_no_trainer.py#L545-L548](https://github.com/huggingface/transformers/blob/f2fbe4475386bfcfb3b83d0a3223ba216a3c3a91/examples/pytorch/translation/run_translation_no_trainer.py#L545-L548)

Thank you for the helpful clarification.
One more question:
`num_update_steps_

[2022-09-07 11:46] pacman100 commented on #662
As mentioned here, len(dataloader) decreases by num_gpu. See below code block:
https://github.com/huggingface/transformers/blob/f2fbe4475386bfcfb3b83d0a3223ba216a3c3a91/examples/pytorch/translation/run_translation_no_trainer.py#L545-L548

Before `prepare` call:
[code]

After `prepare` call:
[code]

[2022-09-07 12:11] sgugger commented on #685
This is not a bug. You need to resume your training in the exact same distributed setup.

[2022-09-07 13:17] cyk1337 commented on #662
Thank you for the detailed reply!
So, if we use an `IterableDataset`whose `__len__` is unknown, we should manually set the `max_train_steps` as `max_train_steps//num_processes` so as to keep pace with `warmup_steps` (processed by `prepare`), correct?

[2022-09-07 13:44] jcyk commented on #662
I encountered the same problem.
[code]
It is very counter-intuitive for the` lr_scheduler` to step `num_processes` times at each call. I think, for most users, the primary purpose of using multiple GPUs is for a larger batch size, not for fewer training steps. And if they want to have fewer training steps, they can do it explicitly (1. just feed the reduced #training steps to the scheduler explici

[2022-09-07 13:54] jcyk commented on #662
and if I want to train exactly `max_train_steps` steps, I  should pass `max_train_steps * num_processes` to the `lr_scheduler` but the code should still be
[code]

This is a very counter-intuitive  example.

[2022-09-07 13:55] pacman100 commented on #662
The current behaviour is nothing to do with decreasing training steps. One usually does `for batch in dataloader` and in multi-gpu setting, because the batch_size increases by `num_gpus`, the number of batches decrease by `num_gups` and dataloader will run out of data if `max_train_steps` isn't adjusted to account for it. And, if you want more training steps, why not increase the number of epochs?

[2022-09-07 14:01] pacman100 commented on #662
@jcyk , if you want to train exactly for `max_train_steps` wherein it is based on dataloader, you will run out of data as each step now takes `num_gpus` times more samples. Also, for discussions and general queries, https://discuss.huggingface.co/c/accelerate/18 forums is the place. Please raise seperate issue in case of bug/feature request.

[2022-09-07 14:03] pacman100 commented on #662
For `IterableDataset`, yes, you are correct, but in that example that you linked in the issue, this isn't the case.

[2022-09-07 14:12] jcyk commented on #662
Thanks for your reply! @pacman100
my point is that it should be better to adjust `max_train_steps` explicitly before feeding it to `lr_scheduler`.
in my case, I am not using #epochs but using #steps.

[2022-09-07 14:13] sgugger commented on #662
@jcyk Don't send your scheduler to the `accelerator.prepare` method if you don't want it adapted to the number of steps. It's as simple as that.

[2022-09-07 14:48] cyk1337 commented on #662
Hi @sgugger, if so, how to save the optimizer/ lr_scheduler states (for resuming training) using deepspeed?

[2022-09-07 14:54] cyk1337 commented on #285
I met the same problem. With `deepspeed`, both `model.save_checkpoint` and `unwrap(model).save_pretrained` will hang. How to save the optimizer / lr_scheduler states for resuming training (w/ deepspeed)?

[2022-09-07 15:06] #561 closed

[2022-09-07 15:09] pacman100 commented on #285
@cyk1337, minimal reproducible example? DeepSpeed tests daily run on GPU hosted runner wherein saving and loading checkpoint functionality is working fine.

https://github.com/huggingface/accelerate/blob/main/tests/deepspeed/test_deepspeed.py#L699

[2022-09-08 02:25] etiennebeaulac commented on #679
Thanks for your suggestion. I tried it and added a cell in the MRE above where I pass the batch sampler to the `batch_sampler` argument.

Sadly,

[code]

produces the same results as the "basic" version :

[code]

which accesses the dataset one index at a time (not in bulk to reduce overhead). I believe this is why the HF docs uses the `sampler` argument.

[2022-09-08 11:27] sgugger commented on #679
Oh ok. I did not know about this use of a sampler as a batch sampler. It is indeed not supported by Accelerate.

[2022-09-09 13:35] deven-gqc opened #689 "Using `find_executable_batch_size` decorator with `fastai`"
Hello,

I am trying to use the `find_executable_batch_size` decorator to find the optimal batch size in `fastai`, however, I'm having some trouble navigating around it.

In fastai, the batch size gets fixed when we create a dataloader. I tried using the decorator in this fashion, but this way, the code does put the batch on the GPU.
[code]

I had even tried an alternate approach where,

[code]
I'm

[2022-09-09 15:06] #491 closed

[2022-09-09 23:32] miccio-dk opened #690 "underlying lr_scheduler.step() never called with OneCycleLR in single GPU"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

In my tests, th

[2022-09-10 01:08] etiennebeaulac commented on #679
I tried it and it works partially. On more than 1 GPU, it no longer crashes or hangs at the end!

However, the `RandomSampler` inside the `BatchSampler` yields duplicated indices and `gather_for_metrics` does not remove the extra elements as it is supposed to.

[2022-09-10 05:56] mrsalehi opened #691 "Custom names for the runs in W&B logger"
Hi,

I want to log my runs with wandb using accelerator tracker. I realized that there is no way to set a custom name for a run in Wandb tracker and it just sets the project name. Therefore all of my runs will get random names that Wandb API assigns.

The following is the code of constructor for WandBTracker:
[code]

Only project argument is passed to the constructor of wandb and there is no way t

[2022-09-10 08:06] faraday opened #692 "`notebook_launcher` cannot use MPS device on M1 or M2 Mac"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

Steps to reprod

[2022-09-10 15:05] #593 closed

[2022-09-10 21:33] turian opened #693 "How well does this play with lightning?"
### System Info

[code]

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

I have a lightn

[2022-09-10 23:51] alexcdot commented on #314
Do you get more useful error messages by setting `TORCH_DISTRIBUTED_DEBUG=INFO` or `NCCL_DEBUG=INFO`?

[2022-09-11 15:05] #597 closed

[2022-09-12 04:37] vishalghor opened #694 "Multi-Node Training No progress on Azure"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

Use  two azure

[2022-09-12 05:32] pacman100 commented on #694
Hello @vishalghor, please have the same port for both the nodes and try it out using latest accelerate main branch.  Let us know if you still have this issue.

[2022-09-12 06:52] pacman100 commented on #692
Hello @faraday, thank you for bringing this to the notice. The above PR should fix it.

[2022-09-12 06:54] pacman100 commented on #691
Hello @mrsalehi, this is already being supported by the latest 🤗 accelerate repo. Please follow the below code snippet on how to go about it:

[code]
![Screenshot 2022-09-10 at 6 27 45 PM](https://user-images.githubusercontent.com/13534540/189484394-c1fbbf73-6074-401a-8cb1-18d8ccc5f2ae.png)

[2022-09-12 09:36] pacman100 commented on #679
Hello @etiennebeaulac , please test the above PR and let us know if that solves the issue.

[2022-09-12 11:36] sgugger commented on #690
You'll have to wait for @muellerzr to be back from holiday for this :-)

[2022-09-12 11:48] #692 closed

[2022-09-12 14:46] #679 closed

[2022-09-12 15:24] vishalghor commented on #694
Hi @pacman100 , thank you . I tried your suggestion with the latest accelerate version=0.13.0 and by setting the main_process_port = 'xxxx' same for both the nodes but still it seems the training doesnt move ahead. Is there a way to get more information on why it is hanging or not moving ahead?

[2022-09-12 17:37] vishalghor commented on #694
@pacman100 for debugging I also tried with the example scripts and I see the same thing. The training doesn't start and it exits without any error message after some time.

[2022-09-13 04:42] pacman100 commented on #694
Hello @vishalghor , can you share the updated accelerate config? Also, prepend `NCCL_DEBUG=INFO` to the launch command to get logs on the NCCL issues you might be facing.

[2022-09-13 04:59] vishalghor commented on #694
Hi @pacman100 ,

Below are the configs after setting the same port number:
Master Node(0):{
  "compute_environment": "LOCAL_MACHINE",
  "deepspeed_config": {},
  "distributed_type": "MULTI_GPU",
  "downcast_bf16": false,
  "fsdp_config": {},
  "machine_rank": 0,
  "main_process_ip": "40.121.95.65",
  "main_process_port": 8892,
  "main_training_function": "main",
  "mixed_precision": "no",
  "num_m

[2022-09-13 05:09] pacman100 commented on #694
Hello @vishalghor, I think you are not using the accelerate from the main branch because it isn't having `same_network` param. Can you install accelerate from source like this `pip install git+https://github.com/huggingface/accelerate`  and try it out with `same_network` being `no` as shown below:
[code]

[2022-09-13 16:20] HebaGamalElDin opened #697 "Accelerate object doesn't access all available GPUs"
### System Info

[code]

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

on AWS Sagemake

[2022-09-13 16:29] abrayne commented on #681
Hello @pacman100, thank you for getting back to me!

The latest 1.21.1 pytorch images on docker hub (pytorch/pytorch:1.12.1-cuda11.3-cudnn8-devel) don't go past `Accelerate` version: 0.12.0. Have you test with these images? I suspect a lot of your user base will be building from them.

[2022-09-13 18:17] HebaGamalElDin commented on #697
the accelerator's distributedType is always Multi_CPU, however the number of the processes is 8 as the number of GPUs, what is the problem exaclty? I installed accelerate through the requirments.txt file as "accelerate[sagemaker]"

[2022-09-13 20:10] vishalghor commented on #694
Hi @pacman100 , thank you for pointing that out.
I did install the latest accelerate, here is a pip show accelerate:
(venv_training) azureuser@lbue-mlspr-vm-prefect:~/accelerate/examples$ pip show accelerate
Name: accelerate
Version: 0.13.0.dev0
Summary: Accelerate
Home-page: https://github.com/huggingface/accelerate
Author: The HuggingFace team
Author-email: sylvain@huggingface.co
License: Apache

[2022-09-13 21:46] vishalghor commented on #694
Hello @pacman100 , I fixed the version and same_network param issue. It was due to my virtualenv. 😅
But setting the same_network didn't help in running the example scripts in accelerate. Below are the configs:
Node 0:  compute_environment: LOCAL_MACHINE
deepspeed_config: {}
distributed_type: MULTI_GPU
downcast_bf16: 'no'
fsdp_config: {}
machine_rank: 0
main_process_ip: 20.163.205.163
main_process_

[2022-09-14 02:14] #697 closed

[2022-09-14 05:53] pacman100 commented on #681
Hello @abrayne, below is the run using 🤗 accelerate-0.12.0. and everything is running fine.

[code]

Output logs:
[code]

[2022-09-14 05:59] pacman100 commented on #694
Hello @vishalghor, maybe go through the discussions on issue #609 and #412 and see if that helps. Are you able to ssh from one node to another?

[2022-09-14 14:59] vishalghor commented on #694
Hello @pacman100 , thank you for the information. I'm able to ssh from one VM to another. I added the ip address for the VMs to connect to in the file /etc/hosts as below :
[code]
I'm not sure if this is the correct way or I should modify any other file or create a hostfile. But if I ssh as : ssh azure_3 , I'm able to connect to the other VM without any issue. To avoid auth chekcing  I disabled it

[2022-09-14 18:40] tangleintel opened #700 "Integrate Intel Extension for Pytorch into accelerate to get out-of-box optimizations on intel platform."
### Motivation
Intel Extension for Pytorch provides extra optimization and performance boost on intel platform for both inference and training. Integrate it into accelerate can make users who use distributed training or evaluation get out-of-box performance boost on intel hardware.

### Design
#### User interface

- The first thing is how we tell accelerate to enable ipex. We design to extend the

[2022-09-15 08:31] pacman100 commented on #700
Hello @tangleintel, Thank you for the detailed feature request. I've made the above draft PR. I currently don't have access to instance with latest Intel CPUs to perform the initial testing. Could you please try it out on your end and let us know.
You can enable ipex via below options:
1. Through  `accelerate config` as shown below:
[code]
2. Pass `--ipex_enabled` and `--ipex_fusion_enabled` to en

[2022-09-16 01:34] etiennebeaulac commented on #679
Everything seems to work great! Thank you so much @pacman100 and @sgugger 😄

[2022-09-16 13:37] abrayne commented on #681
I am unable to reproduce your success. I tried running with the huggingface/accelerate-gpu:latest image and got the same error:
[code]
Config
[code]
Command:
[code]
Logs
[code]

[2022-09-16 16:39] pacman100 commented on #681
Hello @abrayne, now that you have provided all logs and config, you can notice that `num_processes: 1` is in your config but you want to do `Multi-GPU` which can't happen. Set the num_processes to the number of GPUs and try once again.

[2022-09-16 17:54] pacman100 commented on #681
I have tried the below docker run and it also runs fine. The exact steps that I ran:
1. Running the container:
[code]
2. Checking if the GPU is available:
[code]
3. Cloning transformers for the example script, going to that folder
[code]

Hope this helps!

[2022-09-17 15:26] #609 closed

[2022-09-19 12:51] muellerzr commented on #689
@deven-gqc a fastai callback would need to be made really in order for this to be very efficient.

However generally the basic premise of what the guide states is still accurate:

This means doing something like:

[code]

[2022-09-19 12:52] tangleintel commented on #700
Hi, @pacman100
Thanks for the reply! I think both your suggestion for how to pass the ipex related options is more suitable. I will refine this RFC according to your suggestions. The ETA of this PR expected to be ready is by the end of this month.

[2022-09-19 13:19] pacman100 commented on #700
Hello @tangleintel, I have already implemented the above feature request in the draft PR #701. Please test that out and let us know if it works as expected or refine the draft PR using it as a starting point.

[2022-09-19 13:26] deven-gqc commented on #689
Thanks @muellerzr I got it to work with the function. However, the output gets a little messy. I think if there was a separate fastai callback, it would fix the issue.

![image](https://user-images.githubusercontent.com/86305049/191027999-178764bd-ae5b-46d1-8d42-b8b5f10392ff.png)

[2022-09-19 14:31] muellerzr commented on #689
Great! @deven-gqc will be trying to look into something like that soon. I'll go ahead and mark this a feature request so it stays open :)

[2022-09-19 15:26] tangleintel commented on #700
@pacman100 Oh, I see. Thanks for the work very much. I will try it out and then give you feedback.

[2022-09-19 15:32] muellerzr commented on #694
Thanks for the clear feedback @vishalghor, I'll be looking into it this week

[2022-09-19 18:19] vishalghor commented on #694
Thanks @muellerzr . Looking forward to your feedback over it. :)

[2022-09-20 14:31] mayank31398 commented on #614
This is not an issue anymore. Thanks for helping guys.
Closing this :)

[2022-09-20 15:28] #632 closed

[2022-09-21 04:28] vanakema commented on #253
Any update on this? I'm trying to train stable diffusion using the Dreambooth technique, and I was hoping to use Deepspeed to enable me to train on my RTX 3090 as I'm running out of memory. I found the issue was that the `StableDiffusionPipeline` is not a `torch.nn.Module` because it's composed of multiple models. I thought a solution might be to call accelerator.prepare() multiple times, once for

[2022-09-21 05:41] pacman100 commented on #253
Hello @vanakema, we looked into support for multiple models with DeepSpeed but it wasn't possible for the following reasons:
1. User only provides a single set of DeepSpeed config plugin/DeepSpeed config files corresponding to a single model. Ideally, the user should have different DeepSpeed configs for multiple models, and this is a niche scenario.
2. DeepSpeed needs to keep track of the model, i

[2022-09-21 06:26] HebaGamalElDin opened #706 "Have accelerate for Distributed Training: Data Parallelism feature working on AWS Sagemaker yet?"
### System Info

[code]

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

Sagemaker Multi

[2022-09-21 06:41] pacman100 commented on #706
Hello @HebaGamalElDin, please provide minimal reproducible example for us to deep dive and help you.

[2022-09-21 06:50] HebaGamalElDin commented on #706
Hello @pacman100, I'm fine tuning a transformer model from the hub of huggingface.. below is the training function that utilizes the accelerator on sagemaker training jobs.

`
def train(context: Context, num_epochs):
    model = context.model
    model = accelerator.prepare(model)
    optimizer = AdamW(model.parameters(), lr=1e-3)

    num_training_steps = num_epochs * len(context.train_dataloader

[2022-09-21 06:58] ezhang7423 commented on #644
This works for me now!

[2022-09-21 06:58] #644 closed

[2022-09-21 07:05] HebaGamalElDin commented on #706
However the number of processes is 8 GPUs so the accelerate has access to all of them however it's not generating in the validation all decoded strings are empty, appreciate your help!

[2022-09-21 09:01] huang624 opened #707 "multi-GPU is not available"
### System Info
[code]

### Information
- [ ] The official example scripts
- [x] My own modified scripts

### Tasks
- [x] One of the scripts in the examples/ folder of Accelerate or an officially supported no_trainer script in the examples folder of the transformers repo (such as run_no_trainer_glue.py)
**Task: QNLI in Glue**
**Model: BERT**
- [ ] My own task or dataset

### Reproduction
I have 3

[2022-09-21 11:47] sgugger commented on #707
As instructed in the template, please let us know how you launched your script.

[2022-09-21 13:40] pacman100 commented on #706
Hello @HebaGamalElDin, you are not using the 🤗 Accelerate integration of AWS SageMaker correctly. To help you and others going forwards, I have spent time creating this repo https://github.com/pacman100/accelerate-aws-sagemaker which details on how to correctly use AWS SageMaker with 🤗 Accelerate. it works correctly with generation `model.generate`. Please go through the README and files in the ab

[2022-09-22 05:22] pacman100 commented on #706
Hello, you don't have to use any SageMaker estimator (PyTorch estimator in your case) as Accelerate internally uses Hugging Face SageMaker Estimator https://github.com/huggingface/accelerate/blob/main/src/accelerate/commands/launch.py#L776 along with all the necessary env variables to handle SageMaker DDP.

Just create the accelerate config with command `accelerate config` on any virtual machine/l

[2022-09-22 06:40] huang624 commented on #707
Hi,@sgugger
The issue is sloved by myself! However, I still have a question about it.

I launched my script with the command line of  ```python my_script.py``` before because I read the document [here](https://github.com/huggingface/accelerate#launching-script).
It mentioned that ```This CLI tool is optional, and you can still use python my_script.py or python -m torch.distributed.launch my_script

[2022-09-22 11:13] sgugger commented on #707
`python script.py` does not handle multiple GPUs. You need to launch the script once per GPU, which is why PyTorch developped a tool `python -m torch.distributed.launch my_script.py` (or now `python -m torch.distributed.run my_script.py`).

Accelerate makes it easier by regrouping all of this inside a single command `accelerate launch` that will call the right launcher depending on the number of G

[2022-09-22 14:22] tangleintel commented on #700
Hi, @pacman100
I have tried your patch initially without performance test. For the initial enabling stage, I found several little issues:

- [PR701](https://github.com/huggingface/accelerate/pull/701) related:
   1.  For the IntelPytorchExtensionPlugin class defined in [dataclass.py](https://github.com/huggingface/accelerate/pull/701/files#diff-bcbdd609996df7224cc9c21ecd97092122d45263d132389247402

[2022-09-22 14:44] pacman100 commented on #700
Hello @tangleintel, please go ahead and make the necessary changes to the PR as per your above comments. We can review everything once post that.

[2022-09-23 02:32] tangleintel commented on #700
OK

[2022-09-23 03:56] huang624 commented on #707
Hi, @sgugger
It is so clear! Thank you for your explanation!

[2022-09-23 03:56] #707 closed

[2022-09-23 04:36] jianguoz commented on #501
@muellerzr @sgugger Thanks for the great accelerate library, It is super helpful on 8 cores! Can I know when will accelerate support trainings on TPU vm with more than 8 cores?

[2022-09-23 11:29] sgugger commented on #501
@jianguoz It's not a priority for now, as we have no mean of testing the solution (our request to get access to a free small TPU pod to maintain Accelerate was denied). Of course if lots of users show interest, we'll reconsider!

[2022-09-23 14:20] sgugger commented on #624
Sorry, it took me a bit of time but the PR above introduces the API you requested!

[2022-09-23 15:29] #639 closed

[2022-09-23 15:31] #624 closed

[2022-09-23 16:28] abrayne commented on #681
What is your reason for cloning the repo to running with transformers-4.23.0.dev0? It is difficult for me to reproduce that step because my pods do not have access to the internet.

I have instead copied the script from the blog and run with the latest released version on pypi - 4.22.1. Does that version work for you?

[2022-09-23 18:49] jianguoz commented on #501
@sgugger Thanks very much for your quick update:). We have several colleagues interested in deploying Accelerator on more cores.  Looking forward to the future release:)

[2022-09-23 19:22] muellerzr commented on #501
To help us properly gauge the need for this feature, if you are actively trying to train on a TPU pod with PyTorch could you react with a 👍 to this message? 😄

Thanks!

[2022-09-23 19:23] muellerzr commented on #471
We're going to keep this issue and the linked issue below open about the TPU pods, see Sylvain and I's last note on it for more information as to what's happening currently and the state we're at with it https://github.com/huggingface/accelerate/issues/501#issuecomment-1256589109

[2022-09-23 20:40] jianguoz commented on #501
@Ontopic @sumanthd17 Hi there, please react with a 👍🏻 if you want to train models on more than 8 TPU cores in future

[2022-09-24 03:20] HebaGamalElDin commented on #706
@pacman100 Okay I got that thank you.
One more question please, I'm encountering an issue when I'm testing, most of validation batches entirely are empty while some others are okay, this problem doesn't happen while training is on 1 GPU, What could be the problem here please?!
![image](https://user-images.githubusercontent.com/36745656/192077881-b5a598d0-1762-4335-9f2b-f07daa627318.png)

[2022-09-24 09:48] Hritikbansal opened #717 "Getting num_processes = 8 even though num_processes = 1 in accelerate env when the default port is busy"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

I decided to ch

[2022-09-24 20:23] iliemihai92 commented on #525
I encountered the same problem

[2022-09-25 00:44] hbwu-ntu opened #720 "How to train on multiple models"
Hi, I have two models, A and B. I want to use accelerate for training, and only the parameters of B will be updated. Can I just initialize a new model, called MainModel, which includes A and B?

For para in A, I do
for param in MainModel.A.parameters():
       param.requires_grad = False
I initialize an optimizer,
   optimizer = torch.optim.AdamW(
        model.B.parameters(),  # only optimize the

[2022-09-26 11:51] sgugger commented on #717
Thanks for the report!
You have a typo in the command, it should be `CUDA_VISIBLE_DEVICES`. Nevertheless, if you set one process in the config, it should be the value used without being overwritten. Will have a look today or tomorrow!

[2022-09-26 12:05] sgugger commented on #720
This should work yes! Also please post questions like this on our [forums](https://discuss.huggingface.co/) instead of opening as issues, as we use them for feature requests and bugs only.

[2022-09-26 13:32] #720 closed

[2022-09-26 15:06] #526 closed

[2022-09-26 15:19] anshradh opened #721 "Not possible to launch distributed training with mixed_precision set to "bf16""
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

[code]

### Exp

[2022-09-26 15:20] abrayne commented on #681
I have done all that I can do to get close to your setup and it still doesn't work. I am going to try a different direction. Here is my latest trace incase anyone is interested.

2. Checking if the GPU is available:

[code]

3. Checking that transformers has correctly git cloned and pip installed via the docker image

[code]

4. accelerate config

[code]

5. Running script in multi-gpu setting

[c

[2022-09-26 15:22] muellerzr commented on #721
@anshradh can you please provide the full stack trace it gave you?

[2022-09-26 15:37] pacman100 commented on #681
Hello @abrayne, the setup I ran had 24GB GPUs. I think you are using GPUs with 16GB memory. Please reduce the batch size accordingly.

[2022-09-26 16:30] abrayne commented on #681
Hello, I get the same error with `--per_device_train_batch_size 1 --per_device_eval_batch_size 1` as seen in all of the previous traces above.

[2022-09-26 18:19] miccio-dk commented on #690
Hey, did you get the chance to look into this? :)

[2022-09-26 18:20] muellerzr commented on #690
Looking into it this week @miccio-dk :)

[2022-09-26 18:24] muellerzr commented on #721
And just to confirm, we're trying to launch bf16 training on 8 GPUs and not TPUs right? :)

[2022-09-26 18:26] anshradh commented on #721
Yup, 8 GPUs!

[2022-09-26 19:21] muellerzr commented on #721
@anshradh I'm not noticing this on two A100's. Can you verify that the following minimal code works for you in a freshly reset jupyter notebook instance? I've broken it up by cells (which shouldn't matter)

[code]
[code]
[code]
(replace 2 with `n`, you can also try 2)

[2022-09-26 19:36] muellerzr commented on #721
What GPU are you using in colab? IIRC out of the box they only have single GPU instances (Trying to make my test env match yours as best as humanly possible).

[2022-09-26 19:39] anshradh commented on #721
It's actually connected to a local runtime which consists of 8 A100s.

[2022-09-26 19:53] anshradh commented on #721
Sorry 8 A6000s, not A100s!

[2022-09-27 03:49] ReedOnePeck commented on #314
Hello, I have encountered the same problem. Have you solved this problem

[2022-09-27 03:50] ReedOnePeck commented on #314
Hello, I have encountered the same problem. Have you solved this problem

[2022-09-27 05:09] #706 closed

[2022-09-27 12:41] weiyx16 commented on #314
The full log (with NCCL_DEBUG=INFO) is like this:
[code]
Also actually I'm using fairest but not huggingface, but I think this maybe a share issue between them. I will try to set TORCH_DISTRIBUTED_DEBUG=INFO and see whether we can get more.

[2022-09-27 13:07] weiyx16 commented on #582
Hi @miccio-dk, have you solved your problem? If so, could you please share your finding?

[2022-09-27 15:19] #650 closed

[2022-09-27 15:21] hbwu-ntu commented on #400
Hi @yuxinyuan , how can I specify other args after train.py. Could you give me an example?

Shoud it be like
{
...
"args": ["train.py"], ["--arg"]
...
}

[2022-09-27 16:26] pokameng opened #723 "'GradientState' object has no attribute '_iterate_samples_seen'"
'GradientState' object has no attribute '_iterate_samples_seen'
The class  GradientState  does not have this function  '_iterate_samples_seen'

[2022-09-27 16:27] muellerzr commented on #723
@pokameng please include a stack trace along with what you did to get there, everything else the initial prompt asked for. We can do absolutely nothing without that to help :)

[2022-09-27 16:33] pokameng commented on #723
@muellerzr  hello sir,
I intend to train a model using the diffusion model, but when I run the code as instructed, I am prompted with the following error.
AttributeError: 'GradientState' object has no attribute '_iterate_samples_seen'

The error can be found in accelerate/data_loader.py on line 350

My code is as follows:
from denoising_diffusion_pytorch import Unet, GaussianDiffusion, Trainer

im

[2022-09-27 16:38] muellerzr commented on #723
@pokameng can you try again, installing Accelerate with:

[code]

[2022-09-27 16:46] pokameng commented on #723
ok  thanks
this problem is fixed

[2022-09-27 16:47] #723 closed

[2022-09-27 16:48] muellerzr commented on #723
Great! Thanks! For the time being please install accelerate via dev until the next release with the bugfix :)

`pip install git+https://github.com/huggingface/accelerate`

[2022-09-27 19:32] muellerzr commented on #721
Hi @anshradh, working on trying to get resources to test this out, but I think I found the cause. Can we try one more time with the Accelerate installed in my bugfix branch?

[code]

Hopefully it works, thanks!

[2022-09-27 19:35] muellerzr commented on #694
Labeling this as "feature request" for now since after some 1:1 debugging it seems to be related with the Azure platform, and we don't have access to Azure machines with GPUs (yet) to test this out. But we'll get them soon

[2022-09-27 20:52] anshradh commented on #721
Hmm it still seems to be failing on the minimal example - I get the following stack trace:

[code]

[2022-09-27 20:55] muellerzr commented on #721
@anshradh actually this seems to be entirely unrelated to bf16. Does it work when setting the mixed precision to none (the default) or fp16?

[2022-09-27 20:57] anshradh commented on #721
Nope, same stack trace for both of those cases.

[2022-09-27 20:59] muellerzr commented on #721
I'll go ahead and change this as a feature request then and slightly modify the title, because really it's a Feature Request for running the `notebook_launcher` on the A6000 series. For now I'd recommend through the command line (not the best result I know, but that should work til we can get this!)

[2022-09-27 21:02] anshradh commented on #721
Sounds good, thanks for your help!

[2022-09-27 21:03] muellerzr commented on #721
No problem! Last question, what provider are you using for renting the 8 A6000 so I can look into it? :)

[2022-09-27 21:04] anshradh commented on #721
https://www.runpod.io/

[2022-09-28 00:05] miccio-dk commented on #582
hi, i couldn't resolve the issue so i elected to not use multi-gpu training.

[2022-09-28 00:18] Hritikbansal commented on #717
Thanks @sgugger for taking it up, much appreciated!

[2022-09-28 00:18] #717 closed

[2022-09-28 01:16] muellerzr commented on #721
Just to make sure, does it break also if you don't use Colab? (Sometimes colab does some very weird things, so if we can test in native Jupyter that'd be nice :) )

[2022-09-28 02:54] anshradh commented on #721
Nope, unfortunately no luck with Jupyter either.

[2022-09-28 06:14] Nuwan1654 commented on #314
I had the same issue with yolov7, by incteasing the time out from 30 min to 1.5h solved it.
`dist.init_process_group(backend='nccl', init_method='env://', timeout=datetime.timedelta(seconds=5400)) `

[2022-09-28 07:32] ReedOnePeck commented on #314
Actually, I didn't use huggingface, but I reached this problem at the beginning of a new epoch too, I will try to increase the time out from 30min to 120min.

[2022-09-28 07:32] ReedOnePeck commented on #314
Thank you very much, I will try it.

[2022-09-28 19:32] muellerzr commented on #721
This is indeed a torch backend issue, you can track it's progress here: https://github.com/pytorch/pytorch/issues/85841

[2022-09-28 20:16] anshradh commented on #721
Oh interesting, thanks for diving into this!

[2022-09-28 20:35] #690 closed

[2022-09-28 20:38] muellerzr commented on #690
@miccio-dk try installing from main, should be fixed now!

(`pip install git+https://github.com/huggingface/accelerate`)

[2022-09-29 02:21] yuxinyuan commented on #400
It should be sth like "args": ["train.py", "--flag1", "--arg1=hello"]

[2022-09-29 13:44] muellerzr commented on #59
Hey @costantinoai, I'm writing a doc on this soon but this is a very common mistake when it comes to benchmarking on a single GPU vs multiple GPUs. On Spyder you're not using accelerate, which means you aren't training in a distributed fashion.

To see equal results, the batch size on a single GPU needs to be equivalent to bs*num_gpus on the multi-gpu system. This means that to test a bs of 64 on

[2022-09-29 13:51] costantinoai commented on #59
Yep, I also did some testing at the time and I realized the batch size problem. But thanks for looking into this! Indeed, I guess that more clear information about this common mistake in the documentation would be helpful to others in the future 😄

[2022-09-29 13:54] muellerzr commented on #59
Hey @costantinoai , so you don't look insane I'll reiterate what I said, so hopefully others can find it.

When benchmarking, it's *very* important to take into account the batch size. So if I test with a bs of 64 on two GPUs, I should test on a single GPU with a bs of 128, and you will get similar results:

![image](https://user-images.githubusercontent.com/7831895/193050663-dd6f1818-6396-435e-bf

[2022-09-29 14:02] muellerzr commented on #684
Hey @Chris-hughes10, sorry for the delayed response on this we all had our vacations + getting *back* from vacations. Looking at this now and I do believe it'd be something we'd want to do!

Were you hoping for something more than just a wrapper around the context manager?

E.g. this API would likely look something such as:

[code]

[2022-09-29 14:49] Chris-hughes10 commented on #684
Hey @muellerzr, no worries at all, glad that you are interested.

For me, it would be better if you didn't have to use the context manager at all, and it was all taken care of behind the scenes by the accelerator, but I understand that this is not as explicit and haven't looked into the details of how this would work.

I think that this would also require changes to the BatchSampler shard, so that

[2022-09-29 14:56] muellerzr commented on #684
I also understand the benefit of that, however that does indeed consider a large amount of rewrite to get there. For now I think we'll move forward with just the small wrapper shown there, and I'll rename this github issue to reflect what would be done/proposed.

If you would like this feature please react with a 👍 to this comment :)

[2022-09-29 15:03] Chris-hughes10 commented on #684
I agree that the small wrapper would be easier to implement to begin with, and I would be happy with this as a starting point, but I also think that the BatchSamplerShard would have to be modified at the same time. Without modifying the BatchSamplerShard, I don't think you will ever be in a position to have uneven batch sizes - as the additional samples will either be dropped or padded - so the wr

[2022-09-29 15:06] #646 closed

[2022-09-29 15:07] muellerzr commented on #684
@Chris-hughes10 correct, it would not support dispatched batches, only sharded/iterable datasets.

[2022-09-29 15:09] Chris-hughes10 commented on #684
It wouldn't support sharded datasets either right? As that will still pad or drop even if it isn't dispatched?

[2022-09-29 15:15] muellerzr commented on #684
You're right, it would need significant work to do any of this, apologies! For now yes it's a "noop" wrapper for those who aren't using accelerate to prepare dataloaders themselves (such as with fastai's integration that still uses their own dataloader implementation)

[2022-09-29 15:29] Chris-hughes10 commented on #684
I am aware that there are a lot of parts here for what seems a small change xD. But, in my opinion, it would be very confusing to add this if it doesn't play well with the accelerate prepare and wouldn't fit my personal use cases at all; I would imagine that most people that use raw accelerate would agree.

Looking at the BatchSamplerShard and IterableDatasetShard classes in isolation, it doesn't

[2022-09-29 16:38] Chris-hughes10 commented on #684
Hey @sgugger, I completely appreciate where you are coming from, I am just genuinely curious about which parts of the library would be impacted by having an unequal number of samples in each process if a context manager was added to handle the forward and backward passes of the model.

If this is limited, I _think_ that it may be possible to implement this in a way that doesn't require too many ch

[2022-09-29 20:32] deven-gqc opened #729 "use `accelerate` with `fastai` and `wandb`"
I know that `accelerate` has a mechanism which directly works with `wandb`, but upon having a callback with `fastai` inside a Learner object, `wandb` is unable to track any metrics.

[2022-09-29 20:42] deven-gqc opened #730 "using `accelerate` in a SLURM environment"
Hello,

A member in our team has access to a compute cluster and we wish to use `accelerate` in that environment to accomplish distributed training across multiple GPUs.

However, the documentation on the [accelerate config](https://huggingface.co/docs/accelerate/v0.12.0/en/package_reference/cli#accelerate-config) page is a little confusing for me.

Here are a few questions
1. if I have multi-gpu

[2022-09-29 20:47] deven-gqc opened #731 "backticks in `accelerate`"
Feature request:

Would it possible to include backticks to the source documentation in the docs? Just the way we have it in popular libraries like `fastai`, `numpy`, `pandas`?

[2022-09-29 20:57] muellerzr commented on #729
@deven-gqc can you provide an example please? You should just be able to launch using fastai distributed and use their existing wandb callback

[2022-09-29 21:09] deven-gqc commented on #729
This is the error I get,

[code]

[2022-09-29 21:13] muellerzr commented on #729
This looks unrelated to Accelerate, and has to do with wandb. Can you test this by running wandb by itself in a python script to see if you can use it to verify?

[2022-09-29 22:20] deven-gqc commented on #729
Sure, I'll try and let you know.

[2022-09-30 05:27] pacman100 commented on #730
Hello @deven-gqc,

Forum would be the correct place for above queries. As for your questions
1. with `multi-gpu`, it is usually equal to the number of GPUs on a machine * number of machines.
2. `num_cpu_threads_per_process` is mainly for multi-cpu scenario and to parallelize CPU intensive tasks across CPU cores, e.g., data tokenization.

Sylvain and Zach would be able to add more context.

[2022-09-30 13:30] muellerzr commented on #731
Hi @deven-gqc! Can you please show an example of where you found this doesn't happen in the docs?

[2022-09-30 19:19] deven-gqc commented on #731
@muellerzr I was under the impression that even the CLI would have the option of seeing the source code

![image](https://user-images.githubusercontent.com/86305049/193341525-17aabcd6-72e9-45c5-b8d6-04eff5e1eec1.png)

[2022-09-30 19:35] muellerzr commented on #731
@deven-gqc since the CLI is a bit of a different functionality than just raw python functions, these can't have autodoc (our documentation rendering system) capabilities and requires manual documentation writing, (sphinx can't render this either), and as a result won't generate a `source`. This is the same case as the `torchrun` docs out of PyTorch.

fastai is different because it uses `@call_pars

[2022-09-30 19:35] #543 closed

[2022-09-30 19:37] deven-gqc commented on #731
Make sense. Thanks a lot Zach! I'll go ahead and close the issue.

[2022-09-30 19:37] #731 closed

[2022-10-01 08:30] KleinXin opened #733 "It seems this package coule not work on some pytorch version"
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

1. import accel

[2022-10-01 11:07] muellerzr commented on #733
Please do `pip install importlib_metadata` and it should solve this.

[2022-10-01 12:32] KleinXin commented on #733
thx!
It works now. However, the training speed is not accelerated.
This package can only be used to implement the training on multi-gpus or fp16 training instead of speedup training?

[2022-10-01 15:06] #652 closed

[2022-10-02 15:06] #653 closed

[2022-10-02 15:06] #636 closed

[2022-10-03 13:43] sgugger commented on #684
@Chris-hughes10 This is mostly used in the whole evaluation part of Accelerate (so `gather` and `gather_for_metrics`) as for training we don't really care (plus the dataloaders very often have `drop_last=True` during training so there is no problem there).

I'm open to start exploring a different way to go, probably with a new flag in the accelerator. The first thing would be to have the batch sam

[2022-10-03 13:58] Chris-hughes10 commented on #684
@sgugger sounds good to me, let's see how far we get!

[2022-10-03 15:07] #659 closed

[2022-10-03 16:58] sgugger commented on #684
Arf, GitHub changed the projects completely and I can't create an old one for Accelerate.
Anyhow, here a few steps I see

- [ ] Honor batch samplers with a dynamic batch size. For now `BatchSampler` requires a fixed batch size and won't work if the user has something more complex. This is important for training or evaluation.
- [ ] Add an option to the `Accelerator` to not "pad" the datasets and l

[2022-10-03 17:34] shrinath-suresh opened #736 "OOM while loading large bloom model using accelerate"
### System Info

[code]

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

[How 🤗 Accelera

[2022-10-03 18:15] Chris-hughes10 commented on #684
That looks good to me, ping me when the first part is ready to go and I'll find some time to pick it up

[2022-10-03 20:42] thomasw21 commented on #736
Hi @shrinath-suresh I've uploaded a sharded version of the checkpoint https://huggingface.co/bigscience/bloom-7b1/commit/850ba1758a7744fedae78caadc152625133b1677, it should have a max shard size of 10G, same as flax version. Let me know if things are working for you now.

[2022-10-03 21:30] sherlock42 commented on #501
@jianguoz what modifications did you make to run accelerate on 8 Google Cloud TPUs?

[2022-10-04 03:53] shrinath-suresh commented on #736
Thank you very much @sgugger and @thomasw21 . I will re-test and keep you posted in this thread.

[2022-10-04 04:12] mrsalehi commented on #691
Awesome thanks! I forgot to check the main branch. Then I will go ahead and close this.

[2022-10-04 04:12] #691 closed

[2022-10-04 07:03] jianguoz commented on #501
You can take a look at https://huggingface.co/docs/accelerate/index and especially examples inside https://github.com/huggingface/transformers/tree/main/examples/pytorch. It is pretty simple to run accelerate on TPUs.

[2022-10-04 11:29] muellerzr commented on #501
We also have a doc specifically on tpu best practices: https://huggingface.co/docs/accelerate/concept_guides/training_tpu

[2022-10-04 15:50] #678 closed

[2022-10-05 02:05] jianguoz commented on #501
@muellerzr There are several likes with interests in the training of Accelerate on TPU vm with more than 8 cores, and I think many people may have the same requests to scale up their training with Accelerator but have not yet noticed this GitHub issue.  Do you have any plans to prioritize our request?  We could provide potential feedbacks. Thanks:)

[2022-10-05 15:08] #647 closed

[2022-10-05 15:22] piEsposito opened #743 "Add context to to move tensors within multiple submodel devices without intrusion"
**Is your feature request related to a problem? Please describe.**
In some cases, to enable models to run on very small GPUs, we can keep just the heavy one (let's say the UNet on Stable Diffusion, for example) on the GPU and keep the other, lighter ones, on CPU. The problem is that, when we do such thing, we would need to manually enter the submodels code and move the intermediate results between

[2022-10-05 19:02] deven-gqc commented on #729
@muellerzr I think it was a `wandb` issue, its now resolved. Thanks Zach.

[2022-10-05 19:02] #729 closed

[2022-10-05 19:45] muellerzr commented on #501
@jianguoz in about two weeks or so I'll be able to look at this, as yes this seems to be a quite desired feature 😄 Thanks for your patience everyone!

[2022-10-06 18:02] AbdurRafae opened #745 "Reduction on all distributed system only return the sum, irrespective of the provided parameter. Only works as intended on multi-cpu."
https://github.com/huggingface/accelerate/blob/a54cd0abd8f1f1f5e0f64ac030427c30760309d8/src/accelerate/utils/operations.py#L442-L462

[2022-10-06 18:06] muellerzr commented on #745
@AbdurRafae when opening this issue there should have been a number of questions it prompted you for. In this case the most important way for us to quickly help and fix this would be for you to provide a reproducible example that we can then add to a test once the problem has been solved and we can look into. :)

[2022-10-07 12:31] sgugger commented on #745
Thanks a lot for flagging! Do you want to open a PR to fix this?

[2022-10-07 15:07] #664 closed

[2022-10-09 06:04] TheBloodthirster commented on #314
I'm have a example for this question which I was reading 200G file to generate every line offset and need to use 1 hour 30 min:

Error :
<class 'data.read_data.LineShuffler'>: Init /vc_data/users/junpenghuang/trigger_model_data/0711-0814/NegativeTrain
 35%|████████████████████████████████████████                                                                         | 73811210851/208140108456 [30

[2022-10-09 15:06] #669 closed

[2022-10-10 15:08] #662 closed

[2022-10-11 00:06] Thomas-MMJ opened #750 "device_map dictionary corruption in diffusers tests possibly caused by accelerate?"
I suspect, but am not sure, that this is an accelerate bug

https://github.com/huggingface/diffusers/issues/790

Running the following series of pytests in the diffusers head, triggers the last two of the accelerate tests to fail, due to a corrupted device_map dictionary.

`pytest ./tests/test_layers_utils.py::AttentionBlockTests::test_attention_block_default ./tests/test_models_unet.py::UNetLDMMo

[2022-10-11 11:28] sgugger commented on #750
The bug indicates you are trying to run with `device_map="auto"` on a setup that does not have a GPU (or not enough GPU memory to accommodate one layer of the model). Give your report, I think the reason is that pypi does not release the CUDA memory between each tests, or maybe tries to run them in parallel automatically.

[2022-10-11 16:54] samuelstevens commented on #641
`torch.nn.utils.clip_grad_norm_` returns the model gradient ([seen here])(https://pytorch.org/docs/stable/_modules/torch/nn/utils/clip_grad.html#clip_grad_norm_) which is extremely convenient for logging the gradient during training. Can accelerate do the same?

[2022-10-11 16:57] sgugger commented on #641
That's certainly possible. Do you want to make a PR for this?

[2022-10-11 16:59] samuelstevens commented on #641
Sure, I can. However, looking at the implementation, if we are using deepspeed, this call is a no-op, which means the norm is not calculated.

Is it good practice to throw an error (because you shouldn't call `clip_grad_norm_` when using DeepSpeed) or return NaN? Or something else entirely?

[2022-10-11 17:00] sgugger commented on #641
I think returning `None` in the case this is a noop is acceptable.

[2022-10-11 17:00] samuelstevens commented on #641
Great. I will open a PR later today with this fix.

[2022-10-11 20:11] Damjan-Kalajdzievski opened #752 "How to manipulate parameters of model when training (no Trainer) with Accelerate and Deepspeed?"
Also now opened with Deepspeed: https://github.com/microsoft/DeepSpeed/issues/2424

### Settings
` transformers 4.20.1, accelerate 0.12.0, deepspeed 0.6.7, Python 3.9.5, torch 1.12.1+cu116`

accelerate config (4 gpu single node):
[code]
deepspeed config json:
[code]
### Description

This likely is a problem with deepseed and [deepspeed.zero.GatheredParameters()](https://deepspeed.readthedocs.io/en

[2022-10-11 20:37] Thomas-MMJ commented on #750
the tests aren't being ran in parallel AFAIK (there is a pypi variant that does, but not the default pypi), and the GPU is a Nvidia 3060 (mobile) with 6GB so should be plenty for the test.

Adding

[code]

after the functions results in the tests passing.  So your theory seems to be correct.  Three of the functions are in the same submodule, so it isn't clear why the other function is interfering.

[2022-10-12 16:50] #750 closed

[2022-10-13 07:58] gansem opened #754 "AttributeError: 'DistributedDataParallel' object has no attribute 'generate' when validating T5 model"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

**Reproduction:

[2022-10-13 08:17] pacman100 commented on #754
Hello,  `generate` already works in a distributed/multi-gpu setting, please refer https://github.com/huggingface/transformers/blob/main/examples/pytorch/translation/run_translation_no_trainer.py as an example.

[2022-10-13 11:39] pacman100 commented on #752
Hello, multiple things at play here. In the code above you are only changing model params but the optimizer state params aren't changed and as such are synced to the model params and hence revert back to the previous params post optimizer step. You need to zero out the params before `accelerator.prepare()` call so that optimizer also has those zeroed out. Post that, you need to keep setting desire

[2022-10-13 14:10] gansem commented on #754
Thanks for the quick response! I was able to implement the multi-gpu generation using the example.

[2022-10-13 14:10] #754 closed

[2022-10-13 18:00] Damjan-Kalajdzievski commented on #752
So I realise I can set the paramaters outside of training by doing it before preparation, however my use case adds different noise to parameters every batch, and so I need to be able to modify parameters within the training loop and post-preparation. I have tried 2 additional modifications of my demo code based on your comment:

1.  re-prepare the optimizer in a `with deepspeed.zero.GatheredParame

[2022-10-14 05:11] shrinath-suresh opened #757 "bloom-7b inference - RuntimeError: expected scalar type Half but found Float"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [x] My own task or dataset (give details below)

### Reproduction

Follow up of ht

[2022-10-14 05:21] pacman100 commented on #752
Hello @Damjan-Kalajdzievski, re-preparing the optimizer mid-training would be incorrect as the exponential moving averages of gradient and squared-gradient as well as learning rate would be reset mid-training which might negatively impact training. Regarding, sending the gathered and modified parameters to the existing optimizer, I feel you need to ask this in DeeSpeed repo and forums as it would

[2022-10-14 14:06] sgugger commented on #757
Since you didn't put your inputs on the GPU, the generation part after the model runs is done on the CPU (Accelerate makes the model return outputs on the same device as the inputs). On CPU, most operations are not supported in float16, which is why you have this error.

You should just put your inputs on the GPU to solve the problem :-)

[2022-10-14 14:30] piEsposito commented on #743
@patrickvonplaten (I'm tagging you because you usually answer my issues and PRs) an I open a PR to add this feature?

[2022-10-14 15:06] sgugger commented on #743
There is no need for adding a context manager as this is already handle by accelerate with [`dispatch_model`](https://github.com/huggingface/accelerate/blob/693d46826e32507376d44f99967df4710886c984/src/accelerate/big_modeling.py#L204).

[2022-10-14 16:00] samuelstevens opened #760 "RuntimeError: DistributedDataParallel is not needed when a module doesn't have any parameter that requires a gradient."
I normally just throw everything into `accelerator.prepare` that has any tensor buffers or parameters. However, if an object subclasses `torch.nn.Module`, has no parameters and we are in a multi-GPU context, then `accelerator.prepare` tries to wrap it in DistributedDataParallel, which throws an error:

[code]

The quick fix is to simply move the object from `accelerator.prepare` to `obj.to(acceler

[2022-10-14 16:02] sgugger commented on #760
Thanks for the very clear issue! Your proposed fix sounds right, do you want to open a PR with it?

[2022-10-14 16:18] Damjan-Kalajdzievski commented on #752
Sounds good, I have [opened this issue with deepspeed](https://github.com/microsoft/DeepSpeed/issues/2424) as well and will ping if there is anything specifically required with Accelerate. I'll comment if a solution is found as well.

[2022-10-14 17:25] shrinath-suresh commented on #757
@sgugger Thanks for the quick reply.. I did try that too

[code]

[code]
Same error

[code]

Am i missing something here?

Full repo script -
[bloom7b.zip](https://github.com/huggingface/accelerate/files/9788724/bloom7b.zip)

[2022-10-14 22:15] piEsposito commented on #743
Thanks, that will solve my problem.

[2022-10-14 22:15] #743 closed

[2022-10-15 17:42] shrinath-suresh commented on #757
@sgugger I converted the input to float 16, because the model throws the following error when the input is (int or long) (Stack trace can be found in the issue description - First block)

`RuntimeError: expected scalar type Half but found Float`

[2022-10-15 17:47] shrinath-suresh commented on #757
In fact, its not accepting any of the data types

**Long**

[code]
throw `RuntimeError: expected scalar type Half but found Float`

**Float**

[code]
throws - `RuntimeError: Expected tensor for argument #1 'indices' to have one of the following scalar types: Long, Int; but got torch.cuda.FloatTensor instead (while checking arguments for embedding)`

**INT**

[code]
throws - `RuntimeError: expected

[2022-10-16 05:48] shrinath-suresh commented on #757
@sgugger To get more clarity, i tested the model in [p3.8xlarge ](https://aws.amazon.com/ec2/instance-types/p3/) . It has 4 gpus and more RAM . Bloom 7b model can be loaded without offloading.

[bloom7b_p3_8xlarge.zip](https://github.com/huggingface/accelerate/files/9793671/bloom7b_p3_8xlarge.zip)

Without offloading , the inference is working as expected.

Only when the model is offloaded, i am s

[2022-10-16 06:08] mayank31398 opened #762 "device_map error"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

[code]
This hap

[2022-10-16 15:06] #685 closed

[2022-10-17 04:55] jackfeinmann5 opened #763 "accelerator freezes with multi-gpu on datasets with streaming mode"
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [x] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

please see my f

[2022-10-17 05:15] raktim007 opened #764 "Is there any guide to use accelerate api with huggingface trainer class ?"
[https://github.com/huggingface/transformers/blob/v4.23.1/src/transformers/trainer.py#L209](url)

[2022-10-17 07:56] trygvebw opened #765 "Accelerate 0.13.0 breaks tracebacks in Jupyter-Lab"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

1. Open Jupyter

[2022-10-17 08:22] muellerzr commented on #765
@trygvebw you have the optional dependency `rich` installed which can have a few issues with jupyter. Please do `pip uninstall rich` in your environment

[2022-10-17 08:31] weiyx16 commented on #314
The reason for my case is that the rank0 saved checkpoint to a remote storage space for a long time, and fairseq doesn't include any ```torch.barrier()``` in function of saving checkpoint. The other ranks went into forward and backward immediately, while the rank0 was still saving checkpoint. Due to this, the other ranks were waiting for rank0 to do ```all_reduce``` and finally the nccl ops were t

[2022-10-17 13:15] sgugger commented on #762
Without seeing the code you run, it's hard to see the root. Are you sure you passed along the `torch_dtype`? I don't see any problem on my side when this argument is passed.

Also note that now you only need to pass `device_map="balanced_low_0"` and not `memory_map` to achieve the the same results (fill all the GPUs to the max and put as little as possible on the first one).

[2022-10-17 14:14] #760 closed, assigned to nobody

[2022-10-17 14:16] sgugger commented on #764
The two frameworks solve different use cases and are not compatible with one another.

[2022-10-17 14:17] sgugger commented on #765
@muellerzr I think we should also provide an env variable to turn off the use of `rich` if folks don't want to use it without uninstalling it.

[2022-10-17 14:22] raktim007 commented on #764
Thanks for the update.

On Mon, 17 Oct 2022 at 7:47 PM, Sylvain Gugger ***@***.***>
wrote:

[2022-10-17 14:32] mayank31398 commented on #762
ok, ill try to replicate and share a minimal script

[2022-10-17 16:50] shrinath-suresh commented on #757
Thank you very much for looking into it @sgugger

[2022-10-17 21:48] piEsposito opened #767 "Accelerate not moving anything to execution device after cpu_offload"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

Run

[code]

Re

[2022-10-17 21:50] piEsposito commented on #767
I think I found the problem:

On https://github.com/huggingface/accelerate/blob/a63511107b099505bd499c6931bd28bf3dce73fe/src/accelerate/big_modeling.py#L146-L155

When we add the hook on top of the previous hook, the first hook is deleted and we lose all the devices placement hook.

[2022-10-18 01:26] shivangsharma1 opened #769 "Multi-GPU inference"
Hi Team,

I have trained a t5/mt5 hugging face model, I am looking for a way to to inference 1Million examples on multiple GPU. I was able to inference using single GPU but I want a way to load the pretrained saved huggingface model and do multi-GPU inference and save it at last.

Can someone please share a script to do the process?

[2022-10-18 07:23] pacman100 commented on #769
Hello @shivangsharma1, please go through this resolution of same issue: https://github.com/huggingface/accelerate/issues/754#issuecomment-1277219368

[2022-10-18 07:32] mayank31398 commented on #762
@sgugger
max_memory_per_gpu = {
                0: "0GIB",
                1: "51GIB",
                2: "51GIB",
                3: "51GIB",
                4: "51GIB",
                5: "51GIB",
                6: "51GIB",
                7: "51GIB",
            }
and device_map = "auto" fails.

but your suggestion is working well.
Should I close this issue? Or does this need a fix?

[2022-10-18 08:39] rossbucky opened #770 "accelerate launch breaks in 0.13+ due to missing same_network"
### System Info

`accelerate launch` would fail by using the args directly without a config file.

`same_network` arg is missing in command/launch.py while it is used here.

[code]
https://github.com/huggingface/accelerate/blob/a63511107b099505bd499c6931bd28bf3dce73fe/src/accelerate/commands/launch.py#L473

Is it possible to set the default value for launch.py args for better compatibility? Since

[2022-10-18 08:51] rossbucky commented on #770
cc @sgugger @pacman100

[2022-10-18 12:39] sgugger commented on #767
Thanks for the very clear bug report. You have found the cause, although the fix is not quite right ;-)
Will comment on the PR!

[2022-10-18 13:15] huchinlp opened #771 "What is the best practice to do inference in bf16 with accelerate during training?"
### System Info

[code]

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

,

### Expected

[2022-10-18 13:25] sgugger commented on #771
Please use the [forums](https://discuss.huggingface.co/) to ask such questions as we keep the issues for bugs and feature requests only.

Mixed precision training uses... mixed precision as the name indicates. So the model is still in float32 and there is no easy way to perform inference in bfloat16 within the same script other than casting the model to bfloat16 and back.

[2022-10-18 13:32] #771 closed

[2022-10-18 14:26] #767 closed

[2022-10-18 15:36] sgugger commented on #762
Found where the bug was coming from, the PR linked above should fit it.

[2022-10-18 15:57] #762 closed

[2022-10-18 19:02] Atharva7K commented on #586
Hi, can I work on this? :)

[2022-10-18 20:16] muellerzr commented on #586
Yes you can @Atharva7K! :D

[2022-10-19 05:12] shivangsharma1 commented on #754
Hi @gansem ,

I am also looking for similar thing, I have trained t5 model, want to multi GPU inference on my custom dataset(csv), can you please share a snippet to do multi GPU inference.

[2022-10-19 08:14] cokuehuang commented on #754
I am meeting the same problem on multi GPU inference for translation .
Hi @gansem , can you please share your  implement on  Reproduction example above ? Thanks a lot!

[2022-10-19 11:08] shivangsharma1 commented on #769
Hi @pacman100 ,
I have reviewed that code, I didn't find much help from the script. Would it be possible for you share a small script, as I am new to this Accelerator Api.

[2022-10-19 13:55] muellerzr commented on #770
Thanks! This PR added some support for the regression tests: https://github.com/huggingface/accelerate/pull/772/files

I wasn't able to reproduce your behavior you found with `gpu_ids`, could you please post an example of the config you're working with?

[2022-10-19 14:20] muellerzr commented on #770
@rossbucky https://github.com/huggingface/accelerate/pull/778 this should also have helped some. Can you try installing from main to see if so? (the gpu_ids fix also just went in and I don't *think* it was sent out on the latest patch)

Try installing via `pip install git+https://github.com/huggingface/accelerate`. We'll certainly work on doing much better at checking for these types of things, th

[2022-10-19 14:29] muellerzr commented on #765
Hi @trygvebw, with https://github.com/huggingface/accelerate/pull/779 disabling rich can now be set in a jupyter notebook by running `%env DISABLE_RICH=1`.

Please try it out if you have a moment by installing Accelerate with `pip install git+https://github.com/huggingface/accelerate@toggle-rich`. Thank you for your feedback! 🤗

[2022-10-19 15:08] #693 closed

[2022-10-19 16:43] rossbucky commented on #770
@muellerzr thanks for the fix. This would prevent it from crashing. But it would make the multi node not working.

Can we add this?
[code]

[2022-10-19 17:27] muellerzr commented on #770
Thanks for the back and forth @rossbucky :) Should be good to go now on main. Also updated the documentation as realized it got a bit behind on what can be passed in. (In case you didn't know this existed: https://huggingface.co/docs/accelerate/package_reference/cli#accelerate-launch)

[2022-10-19 19:10] rossbucky commented on #770
Yes. it is working now. Thanks for the fix.

[2022-10-19 19:10] #770 closed

[2022-10-20 08:29] gansem commented on #754
Simply calling `accelerator.unwrap_model()` on the model, as shown [here](https://github.com/huggingface/transformers/blob/main/examples/pytorch/translation/run_translation_no_trainer.py#L664) fixed it for me.

A minimal working example:

[code]

Calling `nvidia-smi` while running returns:

+-----------------------------------------------------------------------------+
| NVIDIA-SMI 470.141.03   Dr

[2022-10-20 19:19] ydshieh commented on #614
@mayank31398 Would you like to share what works for you :-) 🙏

[2022-10-21 06:30] mayank31398 commented on #614
I converted my server to flask and ran with gunicorn with 1 worker.
This serializes all requests however

[2022-10-23 02:18] trouble-maker007 opened #784 "use accelerate to resume checkpoint raise IndexError: tuple index out of range"
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

I run my own da

[2022-10-23 12:47] markovalexander opened #785 "Training stops when logging images to wandb in DDP mode"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

I am trying to

[2022-10-23 12:58] markovalexander commented on #785
I added `accelerator.print('left main_process_first()')` after leaving `accelerator.main_process_first()` сontext manager and i can see this print statement:
<img width="1208" alt="image" src="https://user-images.githubusercontent.com/22663468/197393501-7560b6fa-b47d-4ca8-b29c-5bf1b6a9b415.png">

and it stopped...

[2022-10-23 18:52] YouJiacheng opened #786 "[Feature Request] Split `sampler.generator` and `loader.generator` to leave loader's generator unsynchronized by default."
`DataLoaderShard` will synchronize `self.generator`(i.e. `loader.generator`) of all processes at each new iteration.
The [documentation](https://huggingface.co/docs/accelerate/quicktour#internal-mechanism) says "the generator attribute of a given sampler" will be synchronized.
However current implementation also synchronize loader's generator, because `prepare_data_loader` will pass sampler's gene

[2022-10-24 13:37] sgugger commented on #784
It looks like you are resuming training with less GPUs than what you had for the initial training, which is not supported.

[2022-10-24 13:37] sgugger commented on #785
cc @muellerzr

[2022-10-24 13:39] sgugger commented on #786
Please use the [forums](https://discuss.huggingface.co/) to ask such questions as we keep the issues for bugs and feature requests only. Not sure what the actual question is, but the sync is needed so that each process sees the same random permutation of samples. You can read more about it in the [documentation](https://huggingface.co/docs/accelerate/quicktour#internal-mechanism).

[2022-10-24 13:46] YouJiacheng commented on #786
Sorry for my unclear presentation. The actual question is, can we split sampler's generator and dataloader's generator?
Detailed motivation: Pytorch DataLoader will use `loader.generator` to generate `base_seed` for workers. Without `accelerate`, users can simply manual_seed for different GPU process, to get different `base_seed`.

[2022-10-24 14:04] sgugger commented on #786
Ah, thanks for clarifying! Right now it's not possible, but it's certainly something we can look into. Can you tell us a little bit more about the use case?

[2022-10-24 14:17] YouJiacheng commented on #786
I completely rewrite this issue and describe the use case.

[2022-10-24 14:23] YouJiacheng commented on #786
To a certain extent, this is a bug report instead of a feature request.
Since the synchronization of `base_seed` is unexpected.

[2022-10-24 14:30] YouJiacheng commented on #786
Related PyTorch code:
https://github.com/pytorch/pytorch/blob/eafc910d16a99200af089099e24468c7f8926a05/torch/utils/data/dataloader.py#L424-L437
https://github.com/pytorch/pytorch/blob/eafc910d16a99200af089099e24468c7f8926a05/torch/utils/data/dataloader.py#L378-L383
https://github.com/pytorch/pytorch/blob/eafc910d16a99200af089099e24468c7f8926a05/torch/utils/data/dataloader.py#L601
https://github.co

[2022-10-24 15:11] YouJiacheng commented on #663
@pacman100 I tested that v0.13.0 solves this problem.

[2022-10-24 20:35] mtenenholtz opened #787 "[Tutorial] Distributed inference in a notebook"
As per a conversation with @muellerzr, it would be great to have a simple tutorial showing the best methods of performing inference with `notebook_launcher()`. It looks like the two methods are:

1. Saving the predictions out to a file
2. Appending them to a variable outside of the function passed to the launcher

[2022-10-25 01:18] ProGamerGov opened #788 "Script hangs on `set_seed` and `accelerator.backward(loss)` with A100 GPU"
### System Info

[code]

I also tested using `Accelerate` version: 0.13.2 and can confirm the issue is still present.

[code]

I'm using the `Debian 10 based Deep Learning VM for PyTorch CPU/GPU with CUDA 11.3 M98` image on Google Cloud Compute.

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Acceler

[2022-10-25 12:39] pacman100 commented on #786
Hello @YouJiacheng, thank for the detailed explanation and pointer, very helpful. Could you please try the above PR and let us know if that fixes the issue?

[2022-10-25 13:15] pacman100 commented on #785
Hello @markovalexander, wand is only available for main process. Can you try gathering the reconstructed and original images on main process via
[code]
Post that make grids and log to wandb using
[code]

Could you please try above changes and let us know if it addresses your issue?

[2022-10-25 13:39] YouJiacheng commented on #786
Sorry, after opened this issue, I used a workaround to fix it: using `worker_init_fn` to set the seed.
So I can't provide a real world use case without reverting my workaround.

[2022-10-25 16:13] linshierge opened #791 "Does it support Synchronized-BatchNorm?"
If my model has batch normalization layer, how can I modify my code? or does it have built-in synchronized batchnorm?

[2022-10-25 20:25] markovalexander commented on #785
@pacman100 hello! Thank you for your advice, it actually solved my problem! (I also found out that I forgot to move `test_images`, but I checked that it is not enough and `accelerator.gather` is required)

[2022-10-25 20:25] #785 closed

[2022-10-25 20:38] #786 closed

[2022-10-26 03:28] ayulockin commented on #515
Hey @DogeWatch were you able to perform hyperparameters finetuning with accelerate using ray tune? :)

[2022-10-26 08:16] trouble-maker007 commented on #784
@sgugger I use one node one gpu, here is my config.yaml file

[code]

[2022-10-26 17:14] jagadeeshi2i commented on #483
@agemagician Were you able load the model. I am running into the same error.

[2022-10-27 01:57] shcxlee opened #793 "Cannot configure Accelerate (AttributeError: module 'distutils' has no attribute 'version')"
Hello,

I've successfully installed Accelerate but cannot configure it.
[code]

[2022-10-27 02:43] shcxlee commented on #793
Problem solved. I used `pip install setuptools==59.5.0`

[2022-10-27 02:43] #793 closed

[2022-10-27 17:04] satpalsr commented on #694
@muellerzr  I am facing similar issue on slurm. The python script does not run with accelerate launch. No errors. Just
[code]
and then nothing.

I can directly run the python script_name.py, but then I want to use multi nodes.

I installed accelerate from latest main branch. Version: 0.14.0.dev0

[2022-10-28 10:53] patrickvonplaten opened #796 "Question regarding `device_map="auto"`"
In `diffusers` we essentially want to offload all the maintenance of efficient model loading (meaning using torch's meta tensors to not allocate any memory at init).

We'd like to do so via just one logic/kwarg being `device_map="auto"`. This means we would like to **always** advocate to pass `device_map="auto"` stating that this is always in every environment the recommend way of loading a modedl

[2022-10-28 10:56] patrickvonplaten commented on #796
Reproducible:

[code]

=> this works well on GPU but not on CPU. Intended or bug?

[2022-10-28 11:11] patrickvonplaten commented on #796
It seems it's only intended for GPU for now. In case we could allow `device_map="auto"` functionality also for CPU this could be quite helpful to speed up testing and overall UX in `diffusers`: see: https://github.com/huggingface/diffusers/pull/1018

[2022-10-28 21:24] zanussbaum opened #798 "NotImplementedError: Unknown launcher none"
### System Info
Using slurm so not all of this will be accurate (i.e. we are using GPU)
[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own

[2022-10-28 22:43] sgugger commented on #798
cc @pacman100

[2022-10-29 09:09] satpalsr commented on #647
Hey @neel04 @pacman100 , I am trying a similar thing on slurm. I am experiencing either socket timeout error or no error comes up for multi node training. If I specify keep node as 1, things work fine. Find slurm script and accelerate config here [https://rentry.co/tnoxy](https://rentry.co/tnoxy)

[code]

[2022-10-29 09:15] satpalsr commented on #647
Hey @neel04 @pacman100 , I am trying a similar thing on slurm. I am experiencing either socket timeout error or no error comes up for multi node training. If I specify keep node as 1, things work fine. Find slurm script and accelerate config here [https://rentry.co/tnoxy](https://rentry.co/tnoxy)

[code]

[2022-10-29 20:59] mallorbc opened #799 "Bloom Disk Offload Can Not Run Inference"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

I am trying to

[2022-10-29 21:00] mallorbc commented on #799
I will test this on a system that has enough RAM and VRAM to not use the disk.  Maybe that is the issue.  I will also hopefully be able to get an 8XA100 system and test with the model just in VRAM.

[2022-10-29 23:25] mallorbc commented on #799
I could get it working 4 A100s(could use 3) with this code after installing bitsandbytes:
[code]
I can get the model loaded with this code and if I have more than 4 GPUs I would assume it would work but it errors out when I try inference:
[code]

Since I have used CPU offload before for other models, I assume this is a disk offload issue.

[2022-10-30 15:06] #681 closed

[2022-10-31 06:14] trouble-maker007 commented on #784
@sgugger would you like give some suggestions?

[2022-10-31 07:18] pacman100 commented on #798
Hello @zanussbaum, Thank you for notifying this issue. As you suggested, a good default launcher is required and it can be "pdsh" launcher which is inline with the DeepSpeed default. Do you want to open a PR with this fix?

[2022-10-31 16:24] sgugger commented on #784
My suggestion is to resume training on the same exact setup as the initial training. As said above, resuming training on a different setup is not supported.

[2022-10-31 16:28] #796 closed

[2022-10-31 16:33] sgugger commented on #799
I think this particular bug might be fixed by #795. I could run BLOOM with offload to disk on a small machine after it.

[2022-10-31 17:03] zanussbaum commented on #798
Yes added quick PR here! https://github.com/huggingface/accelerate/pull/800
@pacman100

[2022-10-31 17:04] comaniac opened #801 "TypeError: __init__() got an unexpected keyword argument 'differentiable'"
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

### Exp

[2022-10-31 17:22] sgugger commented on #801
Thanks for flagging! I have no idea why the defaults are no longer in sync with the kwargs accepted by the optimizer, but your fix looks good. Please go ahead with a PR!

[2022-10-31 18:34] comaniac commented on #801
I dived into PyTorch and kind of getting some senses:

1. PR https://github.com/pytorch/pytorch/pull/80938 in 3 months ago introduces `differentiable` to `defaults`.
2. PR https://github.com/pytorch/pytorch/pull/86183 added `differentiable` to `__init__`, which should makes it work.

However, the PyTorch 1.13.0 release at the commit: https://github.com/pytorch/pytorch/tree/7c98e70d44abc7a1aead68b6

[2022-10-31 20:02] #798 closed

[2022-11-01 02:10] ayulockin opened #804 "Can we launch accelerate from a Python script instead of CLI?"
I am trying to do hyperparameter optimization using Ray Tune and want to use accelerate to handle multi-gpu training.

I am fairly new to accelerate and could only find the CLI method (`accelerate launch`) to launch the script. Do we have something like `accelerate.launch` or something similar to `notebook_launcher` that can launch the training from the script?

I am looking to see if I can pass a

[2022-11-01 02:21] #801 closed

[2022-11-01 11:41] BenjaminBossan opened #805 "Error when pickling accelerated optimizers with PyTorch 1.13"
### System Info

[code]

Same issue with torch-cpu.

OS: Ubuntu 20.04

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give det

[2022-11-01 12:00] sgugger commented on #805
Would you have time to look at this @pacman100 ?

[2022-11-01 13:07] sgugger commented on #804
This would require to run independent subprocesses, not too sure how Ray Tune is going to like that since it won't be able to inspect how training is going.

[2022-11-01 13:54] biandh opened #806 "accelerator.prepare(model) hangs when Multi-node training on A100 machines."
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

Reference Code:

[2022-11-01 14:05] sgugger commented on #806
cc @pacman100

[2022-11-01 15:12] biandh commented on #806
I also tried the following：

On node A
[code]

On node B:

[code]

[2022-11-01 16:12] antopost opened #807 "How do I freeze weights when using FSDP?"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

Running into so

[2022-11-01 16:15] sgugger commented on #807
cc @pacman100

[2022-11-01 20:21] comaniac opened #809 "[Bug] importlib.metadata.PackageNotFoundError: megatron-lm"
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

1. Clone `Megat

[2022-11-01 20:24] sgugger commented on #809
cc @pacman100

[2022-11-02 03:02] pacman100 commented on #809
Hello @comaniac, could you please try the installing the Megatron-LM as explained in the pre-requisites section of the usage guide https://huggingface.co/docs/accelerate/main/en/usage_guides/megatron_lm#prerequisites. Let us know if that solves the issue.

[2022-11-02 03:46] pacman100 commented on #807
Hello @antopost, the "NO_WRAP" policy doesn't save any CUDA memory as all the parameters of the entire model are gathered during the forward pass instead of a few layers.  More details here: https://pytorch.org/tutorials/intermediate/FSDP_tutorial.html

Next, regarding freezing weights when using FSDP, the weights of FSDP units are flattened wherein each unit can span multiple layers.
1. This is t

[2022-11-02 08:49] biandh commented on #806
the discussions on issue https://github.com/huggingface/accelerate/issues/412 looks similar to my problem, but on my machine this code execution succeeds, so I think it's for a different reason

[2022-11-02 09:16] pacman100 commented on #806
Hello @biandh, did you try with `same_network=False`?

[2022-11-02 09:27] pacman100 commented on #806
Seems like you are facing issue reported here: https://discuss.pytorch.org/t/ddp-hangs-upon-creation/135304/2
No accepted solution there

[2022-11-02 10:24] pacman100 commented on #805
Thank you @BenjaminBossan for the detailed report and suggestions. With PyTorch 1.12 also, when I tried to print the loaded optimizer `print(pickle.loads(pickle.dumps(optimizer2)))`, I got the same error
[code]

Please let us know if the above PR fixes this issue.

[2022-11-02 11:03] BenjaminBossan commented on #805
That's strange, with the exact same environment but replacing `torch==1.13.0` by `torch==1.12.0`, I don't get the error. Also, the CI on skorch, which originally surfaced the issue for me, also works with 1.12. But anyway, it won't hurt even with older versions.

Regarding the PR, a small suggestion would be to return a defensive copy: `self.__dict__.copy()`. It's for the edge case that another ca

[2022-11-02 13:30] biandh commented on #806
In the above **accelerate** config file，I set  num_processes: **2**, I thought it represented the number of GPUs per node, but what it really means is the total number of GPUs, so here it is wrong!!! 😓😓 When I set num_processes: **4**, the code runs successfully !
Maybe accelerate doesn't support multiple nodes with only one GPU ? hope no one makes the same mistake as me 😂😂

[2022-11-02 13:30] #806 closed

[2022-11-02 13:48] pacman100 commented on #806
Hello @biandh, it does support using one/few gpus per node based on `num_processes`, i.e., it uses `num_processes//num_nodes` gpus per node. I'll try to see if I face this issue.

[2022-11-02 14:13] #805 closed

[2022-11-02 16:58] comaniac commented on #809
btw, I just found that the Megatron-LM installed with `pip install git+https://github.com/huggingface/Megatron-LM.git` failed to work with PyTorch nightly:

[code]

[2022-11-02 19:44] piEsposito opened #816 "Make AlignDevicesHook suport bitsandbytes Linear layers natively"
It would be great if `AlignDevicesHook` supported bitsandbytes 8bit Linear layers.

To implement it, we would just have to add something like [set_module_8bit_tensor_to_device ](https://github.com/huggingface/transformers/blob/main/src/transformers/utils/bitsandbytes.py#L17-L86) from transformers to AlignDevicesHook when handling `Int8Params` from bitsandbytes.

If you folks agree this can be impl

[2022-11-02 19:52] sgugger commented on #816
The method should be merged with the existing `set_module_tensor_to_device` I agree. It works without issue for model parallelism (as seen in Transformers) but does not work for offloading however: the 8bit layers have a state that does not disappear and takes a lot of GPU memory.

[2022-11-03 00:29] Vatshank commented on #422
Hey @muellerzr, is there ongoing work for adding [XLA support](https://github.com/pytorch/xla/pull/3431) to FSDP? We, on the AWS SageMaker training compiler side, have started looking into XLA-FSDP and might be able to contribute to adding such support to accelerate.

[2022-11-03 00:32] muellerzr commented on #422
@Vatshank not yet! It's the next thing on my list to get to after TPU pod support, so would love the help if you guys can! 🙏

[2022-11-03 01:01] Vatshank commented on #422
Okay cool! Although our focus is on GPUs, I am sure there will be significant overlap in the code for adding support for either device type.

What do you think would be a good way to discuss some of these details? If you guys have a shared Slack group for development, for instance. Also happy to bug you on GitHub, if that's preferred :)

[2022-11-03 05:27] T-Atlas opened #817 "v0.13.2 Cannot from accelerate import Accelerator in Windows since module 'signal' has no attribute 'SIGKILL'"
### System Info

[code]

### Information

- [X] The official example scripts
- [X] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

from accelerate

[2022-11-03 15:07] muellerzr commented on #422
@Vatshank this gh issue should be fine!

[2022-11-03 17:30] Aman-4-Real commented on #585
I have the same problem that `"Sizes of tensors mismatch"` when I generate sentences during validation of a training process. Sometimes it works well but other cases result in the mismatch bug on generated sequence length (like `RuntimeError: Sizes of tensors must match except in dimension 1. Got 150 and 129 (The offending index is 0)`). I also tried both `accelerator.gather()` and `accelerator.ga

[2022-11-03 18:57] pacman100 commented on #809
Hello, the above PR should resolve the issue of checking Megatron-LM when it is only put in `PYTHONPATH` without it being launched. By the way, feel free to try out Megatron-LM integration in Accelerate which makes it super easy to use with minimal code changes to existing scripts for BERT, GPT and T5 models. Also, the above error `ImportError: libtorch_cuda_cu.so: cannot open shared object file:

[2022-11-04 04:02] T-Atlas commented on #817
Thanks! I will follow up that issue

[2022-11-04 21:24] comaniac commented on #809
@pacman100 thanks for the PR. The fix looks good to me.

I know that the import error was due to inconsistent CUDA versions and it happens to official Megatron too. However, the official Megatron doesn't provide wheels so everyone has to build from source, which eliminates this issue as it always builds the extension based on the current installed PyTorch. I would suggest not releasing pre-built .

[2022-11-06 18:10] trouble-maker007 commented on #784
@sgugger but I did not change config file during training and resume? Is it mean that I did not change the config file is equal to resume training on the same exact setup as the initial training.

[code]

[2022-11-07 07:24] 0xdevalias opened #822 "TypeError: expected str, bytes or os.PathLike object, not NoneType"
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

[code]

### Exp

[2022-11-07 14:33] sgugger commented on #822
cc @muellerzr

[2022-11-07 15:06] #730 closed

[2022-11-07 15:34] muellerzr commented on #784
@trouble-maker007 I can't reproduce this minimally, such as:
[code]

My config looks like such:
[code]

Are you using `accelerate launch` to run your script in both?

[2022-11-07 15:37] muellerzr commented on #784
@trouble-maker007 I can't recreate this based on the following minimal example:

[code]

And this config:
[code]
I ran it once to save then again separately to do the loading. How are you launching training each time? Are you using `accelerate launch` directly? Are you just doing `accelerate launch myscript`?

[2022-11-07 17:27] muellerzr commented on #822
@0xdevalias I believe this has already been fixed in the dev version of accelerate, but it stems from you skipping the `accelerate config` part of the steps outlined in here: https://github.com/huggingface/diffusers/tree/main/examples/dreambooth#installing-the-dependencies

Can you try installing with `pip install git+https://github.com/huggingface/accelerate` to verify? A new release should be ou

[2022-11-07 19:31] versus666jzx commented on #817
Same issue

- _python3.10_
- _PyTorch 1.13.0+gpu_
- _Win 11_

[code]

Downgrade torch to 1.12.1 solve this.

[2022-11-07 19:54] muellerzr commented on #501
Hi @jianguoz et all, I am happy to say we're at a place where you can beta-test the new pod launcher!

Currently it only supports GCP-based TPU pods, as this is what we can test on currently.

Here are the steps to try this out:

1. Either install `torch_xla` from their latest nightly or where torch_xla is installed on the main instance (do `pip show torch_xla` to find it) put [this](https://raw.g

[2022-11-08 01:04] T-Atlas commented on #817
I think so, but if you need to try PyTorch version==1.13.0, you can use accelerate v0.12.0.

[2022-11-08 02:40] everks opened #826 "parameter typo in accelerate/src/accelerate/commands/config/cluster.py"
### System Info

When return ClusterConfig in the line 463, the parameter command write as commands. This causes the following error when generating config file.
[code]

### Information

- [ ] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder o

[2022-11-08 02:52] muellerzr commented on #826
@everks can you check you have the latest from main? As they're currently aligned as seen here:

https://github.com/huggingface/accelerate/blob/main/src/accelerate/commands/config/config_args.py#L158
https://github.com/huggingface/accelerate/blob/main/src/accelerate/commands/config/cluster.py#L475

[2022-11-08 03:11] everks commented on #826
ok, fine. I found they fix it 7 hours ago.

[2022-11-08 03:11] #826 closed

[2022-11-08 14:14] #809 closed

[2022-11-08 15:06] #733 closed

[2022-11-08 16:00] #817 closed

[2022-11-08 16:00] muellerzr commented on #817
@T-Atlas or @versus666jzx can you verify that retrying and installing accelerate with `pip install git+https://github.com/huggingface/accelerate` fixes your issues? Thanks!

[2022-11-09 16:13] Thomas-MMJ opened #831 "FSDP tests fail due to ImportError _state_dict_type_to_config (has been moved inside of set_state_dict_type method"
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

`pytest tests/f

[2022-11-09 16:16] sgugger commented on #831
cc @pacman100

[2022-11-09 19:54] muellerzr opened #832 "Feature Request: Update config files with a new `update_config` command"
With updates to the `config.yaml`, even though there are backwards compatibility tests I think a command such as `accelerate config update` would be a good option which would fill the config yaml with the basic options (defaulting to no for everything) that's expected.

[2022-11-09 22:53] muellerzr opened #833 "Feature Request: Easier CLI command for writing basic configs"
Context: https://github.com/huggingface/diffusers/issues/1228

Need: For libraries integrating accelerate, basic users don't need bits like deepspeed etc when they want certain things out of the box to work and don't want to have to follow the `config` CLI. We have `write_basic_config()` but a CLI option seems to be a need.

Something like `accelerate config basic` (to add to the list of `accelera

[2022-11-10 02:59] 0xdevalias opened #834 "Allow setting logger's LOGLEVEL via env var / CLI argument / etc"
Currently (as best I can tell) there is no way to control accelerate's `logger` without modifying code. It would be nice if we were able to pass an ENV var / CLI argument to `accelerate` to change the log level without having to modify any code run by it.

- https://huggingface.co/docs/accelerate/main/en/package_reference/logging
- https://github.com/huggingface/accelerate/blob/main/src/accelerate

[2022-11-10 03:10] 0xdevalias commented on #834
Seemingly I can hack it in the code like this, but it would be nice if the `accelerate` logger was configurable directly, without code modification:

[code]

[2022-11-10 03:49] 0xdevalias opened #835 ""ValueError: Please make sure to properly initialize your"... when setting LOGLEVEL=DEBUG"
### System Info

[code]

[code]
[code]
!LOGLEVEL=DEBUG conda run -n dreambooth --live-stream \
  accelerate launch train_dreambooth.py \
    --pretrained_model_name_or_path="$MODEL_NAME_OR_PATH"  \
    --instance_data_dir="$INSTANCE_DIR" \
    --class_data_dir="$CLASS_REGULARISATION_IMAGE_DIR" \
    --output_dir="$OUTPUT_DIR" \
    --with_prior_preservation --prior_loss_weight=1.0 \
    --instance

[2022-11-10 08:03] pacman100 commented on #831
Hello @Thomas-MMJ, Thank you for bringing this to the notice. Please use PyTorch 1.13.0 stable version for time-being. We will resolve all the issue once PyTorch version 1.14.0 has a stable relelase.

[2022-11-10 09:32] Lime-Cakes commented on #668
Does this currently work? Or is that a feature request, meaning it currently wouldn't work, but would work in the future? Sorry, I got a bit confused by the feature request tag and your comment.

[2022-11-10 14:45] sgugger commented on #835
cc @muellerzr

[2022-11-10 14:46] sgugger commented on #834
cc @muellerzr

[2022-11-10 20:00] Lime-Cakes opened #841 "Custom batch_sampler does not work with DeepSpeed"
The _prepare_deepspeed function called by accelerator.prepare requires a dataloader with batch_size to be passed. However, using using custom BatchSampler, dataloader.batch_size would be none. It causes [batchsize here](https://github.com/huggingface/accelerate/blob/074d8d5a5a131501cc0a2a690cc14337395dcb09/src/accelerate/accelerator.py#L951) to become [None], and cause a None * int issue [here](ht

[2022-11-10 20:08] sgugger commented on #841
That's very likely an issue in `DeepSpeed` itself. cc @pacman100

[2022-11-10 20:38] muellerzr commented on #834
@0xdevalias this is more of a user error but we can still improve it. In order for `logging.basicConfig` to work you **first need to define a logger**, and you specifically need to define *accelerate*'s logger. So e.g. the following would work:

[code]

That being said I'll introduce a PR shortly that let's you do:

[code]

[2022-11-10 20:49] muellerzr commented on #834
Thanks @0xdevalias, sorry I was a bit unclear in my last note so I removed it. This is a good point and the issue with `filter_trackers` and this should be solved in a PR shortly!

[2022-11-11 05:31] 0xdevalias commented on #835
I can definitely give it a go when I get a chance, though busy weekend/week, so not sure if I will be able to get to it shortly or it'll have to wait behind that.

[2022-11-11 09:35] ernestchu opened #843 "The multi process lr scheduler implementation doesn't seem right"
https://github.com/huggingface/accelerate/blob/074d8d5a5a131501cc0a2a690cc14337395dcb09/src/accelerate/scheduler.py#L72-L75

The scheduler should not step if `self.scheduler._step_count > self.scheduler.total_steps`.

[2022-11-11 09:48] ernestchu opened #844 "AttributeError: 'GradientState' object has no attribute 'samples_seen'"
https://github.com/huggingface/accelerate/blob/074d8d5a5a131501cc0a2a690cc14337395dcb09/examples/complete_cv_example.py#L244

`samples_seen` seems deprecated.

[2022-11-11 16:16] #833 closed

[2022-11-11 17:39] A2va opened #845 "Multi GPU on Kaggle"
Kaggle recently added [two GPU accelerator](https://www.kaggle.com/product-feedback/361104). But it seems only one GPU is used by accelerate.

https://github.com/huggingface/accelerate/blob/5d70bc86f861aff9b4ba90d875bf9614727f0569/src/accelerate/notebook_launcher.py#L51-L74

[2022-11-11 18:52] A2va commented on #845
Ok, thank you, I'm closing this

[2022-11-11 18:52] #845 closed

[2022-11-11 21:28] Lazystinkdog opened #846 "Fastai distributed training example KeyError"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction
The following py

[2022-11-11 21:29] Lazystinkdog commented on #846
[code]

[2022-11-11 21:42] muellerzr commented on #846
Re the first one, downloading is called twice because each worker needs access to the data, however the data is only downloaded the first time, the second is loaded in from the cache (hence rank0_first, it does it on the first rank then the rest).

Just in case can you try again and uninstall `rich`? `pip uninstall rich -y` (just want to see the difference in the errors here though there shouldn't

[2022-11-11 21:55] Lazystinkdog commented on #846
Hello, thank you for your fast answer. I did try to uninstall rich, but it is not installed.

Regarding the first one, [untar_data()](https://docs.fast.ai/data.external.html#untar_data) returns the path to the extracted data, so why would the print statement get called again?

[2022-11-11 22:03] muellerzr commented on #846
@Lazystinkdog because the first time it was called on the process home to GPU 0. It must be called again on the process home to GPU 1 so each GPU has access to that datapoint/path. However `untar_data` only downloads the tarfile on the first GPU. Since on the second GPU it sees that the file exists, it only returns the path instead of downloading it again. Does this make sense?

[2022-11-11 22:23] Lazystinkdog commented on #846
Any thoughts about the KeyError?

[2022-11-11 22:26] muellerzr commented on #846
@Lazystinkdog the team is off until Monday, I'll be looking at it then :)

[2022-11-13 02:35] jdegange commented on #844
Has this been resolved or is there a workaround?

[2022-11-14 03:47] 0xdevalias commented on #822
Awesome!

Yeah, that makes sense. I was skipping that partly to see if I could, and partly because there is no good non-interactive way to use the `accelerate config` CLI at the moment (eg. from a jupyter notebook)

My hacky workaround was to generate the file on a throwaway machine, then copy/paste it into my notebook and have the notebook itself write it out.

Glad to hear it! While I didn't exp

[2022-11-14 03:47] 0xdevalias commented on #822
For anyone else who stumbles upon this issue in future, I have also just found out that there is a programmatic way of writing this config file now too:

[2022-11-14 06:22] sgugger commented on #757
The above PR has been merged, so this should be solved :-)

[2022-11-14 06:22] #757 closed

[2022-11-14 07:27] pacman100 commented on #841
Hello @Lime-Cakes, as Sylvain mentioned, DeepSpeed requires either `train_batch_size` or `train_micro_batch_size_per_gpu` as seen in this line: https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/runtime/config.py#L984

[2022-11-14 12:14] liu6381810 opened #847 "Multi-GPU doesn't work"
Hi, when i run `accelerate launch my_scripy.py`  it seems do nothing even `my_scripy.py` only contain `print(1)`
But if i use one-gpu setting, `print(1)` work as expected

here is my accelerate env；
- `Accelerate` version: 0.14.0
- Platform: Linux-5.4.143.bsk.7-amd64-x86_64-with-debian-10.13
- Python version: 3.7.3
- Numpy version: 1.21.5
- PyTorch version (GPU?): 1.10.0 (True)
- `Accelerate` defa

[2022-11-14 12:20] muellerzr commented on #847
Can you share the entire script you are running?

[2022-11-14 12:29] liu6381810 commented on #847
I run
`accelerate launch test.py`
the test.py is
`from accelerate import Accelerator
print(1)`
It's weird this command report nothing even the test.py is not exist

[2022-11-14 13:37] muellerzr commented on #847
@liu6381810 I'm afraid I can't recreate this. I have done:

[code]

The config:
[code]

The launch command:

[code]

Can you try again with the above setup?

[2022-11-14 14:01] #834 closed

[2022-11-14 14:04] muellerzr commented on #844
Hi @ernestchu and @jdegange, thanks for pointing out this regression issue, apologies!

The solution is to have the evaluation loop look like so:
[code]
A PR to fix this will go up shortly, as the regular CV example has this but the complete one did not. Thanks for the flag!

[2022-11-14 14:21] muellerzr commented on #843
Thanks for the notice! Will be fixed by #849

[2022-11-14 14:37] muellerzr commented on #846
@Lazystinkdog I can't actually recreate this. *However* one thing I do find odd is `gpu_ids` is `None` here. Can you try running this again and setting gpu_ids to be:

[code]
in your config? You can modify it by doing `vim ~/.cache/huggingface/accelerate/default_config.yaml`

[2022-11-14 15:51] muellerzr commented on #791
Hi @linshierge, sorry for the delay in this, great question!

To use SyncBatchNorm just use the wrapper:

[code]

[2022-11-14 15:55] muellerzr commented on #846
Although that shouldn't modify it at all since `accelerate launch` will only set the `gpu_ids` if they're not `None`. Can you give a bit more information about your system? What are you running this on? `NO_PROXY` isn't a variable set by Accelerate so would love to know more about your system

[2022-11-14 17:07] #843 closed

[2022-11-15 13:36] ZhiyuanChen opened #852 "More APIs for high-level library development"
Hi,

I have been developing a [high-level library](https://github.com/ZhiyuanChen/DanLing/tree/develop) for PyTorch and Accelerate for quite some time.
The reason why I'm doing it is because I'm tooooo lazy to write all the logging and IO stuff, but I still want full control with the training loop (nobody tells me how to train my model.
Accelerate has been the core component of my framework now, s

[2022-11-15 13:38] Lazystinkdog commented on #846
I work inside a dev docker container on an AWS g3.8xlarge Instance. I did some further experimenting and found that the Issue originates from my side. In the docker image, the environment variables ```HTTP_PROXY``` and ```HTTPS_PROXY``` are set in both upper and lower case. So when
[code]
gets called, the system tries to delete the same variable twice. When I remove one version it works without an

[2022-11-15 13:41] ZhiyuanChen commented on #769
Basically you just need to call `accelerator.prepare` on your model and dataloader, and everything else is set up for you

[2022-11-15 13:43] muellerzr commented on #846
Glad to see it's fixed!

[2022-11-15 17:26] Arij-Aladel opened #854 "AttributeError: 'Accelerator' object has no attribute 'gather_for_metrics'"
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

Go to[ run_summ

[2022-11-15 17:29] muellerzr commented on #854
@Arij-Aladel what version of accelerate do you have? (`pip show accelerate`) as it may be quite old by the looks of your `accelerate env` report. I'd recommend `pip install accelerate -U` potentially, as `gather_for_metrics` has been around since v0.12.0 in August

[2022-11-15 17:29] Arij-Aladel commented on #854
the last one I guess it is exactly as requirements file of the example

[2022-11-15 17:31] muellerzr commented on #854
The requirements file doesn't have a version specified, so it won't install a new version on the system if it exists. Can you please show the output of `pip show accelerate`? 😃

[2022-11-15 17:33] muellerzr commented on #854
Since it's running `dev`, it may be a commit before `gather_for_metrics` was added. I'd recommend doing `pip install accelerate==0.12.0 --force-reinstall --no-deps` so you get the fully released v0.12.0 version or do `-U` to upgrade 😃

[2022-11-15 19:07] Arij-Aladel commented on #854
Ok now another issue at this [line](https://github.com/huggingface/transformers/blob/777b1bfe6236ca7034d5eb6358e37c2345101886/examples/pytorch/summarization/run_summarization_no_trainer.py#L707)  I am getting the error

This is because after gathering on [this line](https://github.com/huggingface/transformers/blob/777b1bfe6236ca7034d5eb6358e37c2345101886/examples/pytorch/summarization/run_summariz

[2022-11-15 19:14] muellerzr commented on #854
Can you open a separate issue on the transformers repo for this and @ mention me? Thanks!

[2022-11-15 22:00] muellerzr commented on #501
Hi @jianguoz et all, I am happy to say we're at a place where you can beta-test the new pod launcher!

Currently it only supports GCP-based TPU pods, as this is what we can test on currently.

Here are the steps to try this out:

(Assume all commands are ran solely from the main ssh instance/worker you are working off of unless specified otherwise)

1. Either install `torch_xla` from their latest

[2022-11-15 22:04] #832 closed

[2022-11-16 01:35] jianguoz commented on #501
Hi Zachary,

Thanks for the great update! We are currently trying the new launcher on
V3-32. Will give some feelings soon:)

Zachary Mueller ***@***.***>于2022年11月15日 周二下午2:01写道：

[2022-11-16 08:15] Arij-Aladel commented on #854
I have already opened [it ](https://github.com/huggingface/transformers/issues/18189)and mention this issue I will mention you there too.

[2022-11-16 15:09] DavidePaglieri opened #858 "Remove accelerate.prepare hooks and FP32 conversion"
When I use ```accelerator.prepare(model)``` the model gets some hooks used in accelerate. After I'm done with the training and want to save the model, those hooks are still somewhere in the .state_dict() of the model and I can't figure out where exactly and how to remove them.

This is a problem especially when I later want to load the model without accelerate and run it in FP16 with other models,

[2022-11-16 16:23] sgugger commented on #858
There is no util to remove those for now (it's not the Hooks, which we use for big model inference, but more wrappers around the forward) but I see why you'd want a util like this! I think the `unwrap` model method should remove them.

@muellerzr Would you have time to work on that?

[2022-11-16 16:26] muellerzr commented on #858
@sgugger yep! Will assign myself

[2022-11-16 16:38] sgugger commented on #858
Yes, like I said there is nothing to remove it yet. The goal would be for this snippet of code to work once Zach is done :-)

[2022-11-16 21:12] #858 closed

[2022-11-16 21:25] muellerzr commented on #858
Hi @DavidePaglieri, should be fixed with https://github.com/huggingface/accelerate/pull/860!

[2022-11-17 13:49] darraghdog opened #864 "Issues running `bigscience/bloom` inference on 3 * 40GB a100 cards"
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

To start the do

[2022-11-17 14:44] sgugger commented on #864
Not sure what the issue is here. As the error clearly mentions, you cannot use `int8` with offloaded weights as it's not possible to offload modules in int8.

[2022-11-17 19:03] BurguerJohn opened #866 "[Include example code] mixed_precision="fp16" will break torch.save function."
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

[code]

It will

[2022-11-17 19:05] sgugger commented on #866
cc @muellerzr This might already be fixed by your recent work. Or it's what has broken it ;-)

[2022-11-17 19:08] BurguerJohn commented on #866
Wow, that was fast, thanks for the quick response lol
Will try to test it with this fix.

[2022-11-17 19:09] muellerzr commented on #866
@BurguerJohn the solution is you should only save via this:

[code]

@sgugger we could probably make `accelerator.save` wrap around this no?

[2022-11-17 19:14] BurguerJohn commented on #866
Is the solution on the main branch? Just installed it on colab accelerate-0.15.0.dev0 and still giving the same error.

[2022-11-17 19:17] muellerzr commented on #866
@BurguerJohn yes it is. I ran the following to test it:
[code]

[2022-11-17 19:18] sgugger commented on #866
@muellerzr No we can't have `accelerator.save` add a magic unwrap since it will receive other things than models :-)

[2022-11-17 19:20] muellerzr commented on #866
Whelp, as Sylvain says, too much magic :) What I presented above would be the official "correct" answer to what you're wanting to do.

[2022-11-17 19:23] BurguerJohn commented on #866
Could it be some limitation on colab or python 3.7? Still need to test it on my computer, but colab seen to still have trouble with it:
https://colab.research.google.com/drive/1Y07ElQf1qlD3b5SxCLGilshc_EYFILFg?usp=sharing

[2022-11-17 19:26] muellerzr commented on #866
Thanks @BurguerJohn, will look into this as it seems to be py 3.7 specific!

[2022-11-17 19:26] BurguerJohn commented on #866
Cool, thanks! Will try it out with other version later. Again, thanks for all the support.

[2022-11-17 23:15] BurguerJohn commented on #866
@muellerzr  Alright, no problem. Just letting you know that it seen that this bug also happen without jupyter, on windows: python 3.9
There seen to have also two imports on keymap.py that don't exist on windows.
**termios** and **tty** (call termios?)
Removing those two import made the code run on windows, but still the same error on torch.save

[2022-11-17 23:17] muellerzr commented on #866
Can you open up a seperate issue for that please? Because termios and tty are part of the stdlib for python

[2022-11-17 23:19] BurguerJohn commented on #866
I'm giving more tests, it may be some name conflict with my project. Just tested to call termio on a clean project and it work. Will do more tests before opening another issue.

[2022-11-17 23:23] BurguerJohn commented on #866
Can confirm that the error still happen on Window:Python 3.9 even without jupyter.

[code]

[2022-11-17 23:38] BurguerJohn opened #867 "keymap.py import termios and tty, that work only on Unix"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

On windows use:

[2022-11-18 00:37] BurguerJohn commented on #866
I'm pretty sure is this line causing the problem:
`model.forward = torch.cuda.amp.autocast(dtype=torch.float16)(model.forward)`
There is probably a better way to handle autocast, a wrapper model or a lambda function? Dunno, don't have more time today to check this. Will probably remove the **prepare** line from my code and use a autocast, it should be enough for my project.

[2022-11-18 00:58] muellerzr commented on #866
@BurguerJohn it's actually stemming from ConvertFp32 IIRC when I was looking

[2022-11-18 01:07] BurguerJohn commented on #866
Yeah, but this line is enough to break the torch.save
https://colab.research.google.com/drive/11fvrk1Jslw2VIRTF6h0pdGgJx5AkAIMv?usp=sharing

Unless unwrap should do something to revert this, didn't had the time to read all the code.

[2022-11-18 01:09] muellerzr commented on #866
It *should* be with that pr Sylvain mentioned earlier (and it shows it works on Ubuntu based systems that aren't running Jupyter). I'll be looking deeper into this tommorow

[2022-11-18 01:18] BurguerJohn commented on #866
No problem, thanks for all the help. I already managed to make my code work without the prepare line, so there is no need to rush.

[2022-11-18 01:18] muellerzr commented on #866
BTW, here's a very good s/o explaining what's happening: https://stackoverflow.com/questions/27641859/pickling-decorated-callable-class-wrapper

[2022-11-18 14:37] antopost opened #870 "Question: How to I use the kwargs handler to pass DDP params?"
I would like to set broacast_buffers=False when wrapping DDP.
The [documentation](https://huggingface.co/docs/accelerate/v0.2.0/kwargs.html) suggests using a kwargs handler class, but I have no idea how to pass it to Accelerator.

This is how I imagined it:

[code]

Any help would be much appreciated!

[2022-11-18 14:40] sgugger commented on #870
You need to use the kwarg handles in the library:
[code]

[2022-11-18 14:41] antopost commented on #870
Many thanks, @sgugger !

[2022-11-18 14:42] muellerzr commented on #870
@antopost alright if I reopen this and flag docs so I can improve it? 😄

[2022-11-18 14:42] antopost commented on #870
You're very welcome to do so ^^

[2022-11-18 15:08] antopost commented on #870
@sgugger
Actually, when I try instantiate accelerator using more than one gpu, I get the following error:
[code]
Could it be due to using the nightly version of accelerate?
[code]

[2022-11-18 15:13] muellerzr commented on #870
Will look into this and improve the docs

[2022-11-18 15:34] muellerzr commented on #854
@Arij-Aladel is it safe to say this can be closed now? 😄

[2022-11-18 22:13] muellerzr commented on #866
@BurguerJohn found a fix, essentially it's possible for us to follow the trail of `__wrapped__` and get back the original `.forward()` to remove all the wrapping 🤯

[2022-11-19 05:45] ZeyiLiao commented on #691
@pacman100 Hi, I can successfully save the model and log via wandb, however, the code can not exit successfully.

Error:
[code]

[2022-11-19 09:31] r-matsuzaka opened #874 "cv_example.py fail at final epoch, ValueError: Tried to step 281 times. The specified number of total steps is 279"
### System Info

- Ubuntu Desktop 22.04 LTS
- 2GPUs RTX2080, RTX2080 super
- Driver nvidia-driver-510

### Information

- [x] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ]

[2022-11-19 18:58] giulio98 opened #875 "int8 quantization doesn't work with accelerate on multi-GPUs"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

[code]

### Exp

[2022-11-19 19:02] giulio98 commented on #875
The scipt work fine with 1 T4 GPU, the error persist only with multi-GPUs

[2022-11-20 15:05] #752 closed

[2022-11-20 19:29] bipinKrishnan commented on #586
@muellerzr Can I work on this issue?

I'm not quite sure about the CLI version but based on what you've already mentioned, these are the things to be done for the notebook:
1. Create a separate file for xla stuff in ```accelerate/utils```
2. Add the code for colab check and to get the current version of torch
3. Use python subprocess to install the xla wheels for the current torch version

Let me

[2022-11-21 00:54] ZeyiLiao opened #876 "Program stuck at 'pad_across_processes'"
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

1. The code at

[2022-11-21 04:52] pacman100 commented on #876
Hello @ZeyiLiao, when using DeepSpeed Zero Stage-3, the `generate()` call in eval loop hangs because it is missing `synced_gpus=True` argument. Please refer  issue https://github.com/huggingface/transformers/issues/20130 which details what's happening and how to resolve it.

[2022-11-21 05:32] ZeyiLiao commented on #876
@pacman100 Gotcha! Reaaly helps!!

And would you mind checking why the program can not exit correctly with --report_to wandb --with_tracking?

And I just simply modify the code like this:
[code]

error looks like
[code]

All the checkpoints can save correctly and wandb can also log correctly, just the code can not exit correcly.

[2022-11-21 06:29] Cyberes commented on #835
Still getting this error. Adding this breaks Accelerate:

[code]

[2022-11-21 06:38] Cyberes commented on #835
Actually, it looks like the pip repo hadn't updated yet. Had to build from source: `pip install git+https://github.com/huggingface/accelerate`

[2022-11-21 07:43] ZeyiLiao commented on #404
@sgugger , Hi , I also encounter a same problem here though passing the `no_split_modules`. I wanna do training on "EleutherAI/gpt-neox-20b"

[code]

[2022-11-21 14:24] #866 closed

[2022-11-21 14:26] sgugger commented on #875
The problem is that you are sending your `model` to `Accelerator.prepare` which puts it on GPU 0 and destroys the work done by `device_map="auto"`. You should not send it to this method and it will work fine (you will also be able to remove the unwrap).

[2022-11-21 14:32] BurguerJohn commented on #866
Wow, that is pretty cool. It's also something new for me. Glad you managed to find a good solution.

[2022-11-21 15:33] muellerzr commented on #586
Feel free @bipinKrishnan! Yep more or less! If you can get that going and have the pythonic interface I can whip up the CLI half if it's a bit too confusing :)

[2022-11-21 15:52] #831 closed

[2022-11-21 20:11] ZeyiLiao opened #879 "OOM for 20b model"
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

1. Base code at

[2022-11-21 20:54] sgugger commented on #879
`device_map` is not designed to work for training, only inference. You should use DeepSpeed Zero-3 for training large models.

[2022-11-22 05:16] pacman100 commented on #876
Hello @ZeyiLiao, this is different issue, anyways, I don't know the root cause for this but to resolve it just remove the following lines
[code]

[2022-11-22 06:03] BruceStayHungry opened #880 "Eorror when use load_checkpoint_and_dispatch: module 'torch.cuda' has no attribute 'mem_get_info'"
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

When trying to

[2022-11-22 07:45] jianguoz commented on #501
@muellerzr Hi Zachary, when I run `accelerate tpu-config` on Step 5, it returns errors: 'Failed to execute command on multiple workers. This may have happened if you have not added your SSH key to your ssh-agent using "ssh-add ~/.ssh/google_compute_engine".'  While accelerate (without @tpu-pod-launch) can connect and work on pods of V3-32 vm. Should I have extra settings to use accelerate@tpu-pod-

[2022-11-22 13:09] sgugger commented on #880
Looks like this function was only added in PyTorch 1.11, so you will need to upgrade to PyTorch 1.11 to be able to use this feature.

[2022-11-22 19:25] gcunhase commented on #314
@weiyx16 did you find a solution for this issue?

[2022-11-23 02:46] BruceStayHungry commented on #880
Thanks! I further upgraded, and it works now

[2022-11-23 03:38] xiabingquan opened #882 "`accelerator.prepare(dataloader)` fails when batch_sampler is not given"
### System Info

[code]

### Information

- [x] The official example scripts
- [X] My own modified scripts

### Tasks

- [x] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

Paste the follo

[2022-11-23 03:43] xiabingquan commented on #882
This could be solved by changing
[code]
to
[code]
and adding `batch = batch[0]` in the very beginning of the method `collate` inside of `VallinaCollator` class.

However, it's kind of ugly.

[2022-11-23 04:21] BruceStayHungry commented on #880
It works on loading gpt-neox-20B.
While unfortunately, when I use `load_checkpoint_and_dispatch` to load opt-30B, I set `device_map = "auto"`. It raised the following error:
[code]
I preliminarily debug it. It looks like that the auto-inferred `device_map` uses the key `decoder.embed_tokens`. But the `load_checkpoint_and_dispatch` use the key  `decoder.embed_tokens.weight`. Does the discrepancy ca

[2022-11-23 04:29] BruceStayHungry commented on #880
My simple code:
[code]

And the used [pytorch_model.bin.index.json](https://huggingface.co/facebook/opt-30b/blob/main/pytorch_model.bin.index.json)

[2022-11-23 05:18] pacman100 commented on #882
Hello @xiabingquan, can you try the latest accelerate version and let us know if that solves the issue. It has been handled in version 0.13 here: https://github.com/huggingface/accelerate/blob/v0.14.0/src/accelerate/data_loader.py#L144

[2022-11-23 07:05] Ruiyuan-Zhang commented on #71
<img width="592" alt="image" src="https://user-images.githubusercontent.com/71813586/203489036-f4a30eb7-801a-4f66-ada5-1075cc3c08f1.png">

[2022-11-23 13:28] sgugger commented on #880
It won't work like this for OPT, you should use the `from_pretrained` method: the checkpoint only contains the base model while the model obtained with `AutoModelForCausalLM` will have more keys (like the decoder) which are tied, and also parameter names that do not match the checkpoint (since the model with the causal LM head has the base model as an attribute). All of that logic is in `from_pret

[2022-11-23 15:25] bipinKrishnan commented on #586
@muellerzr If we include an ```upgrade=True``` argument to ```install_xla```,  a runtime restart will be required for the latest torch version to get into effect. Since we require the correct torch version for installing xla wheels, this will be problematic. Is there any work around to overcome this issue?

[2022-11-23 23:53] #879 closed

[2022-11-24 02:07] BruceStayHungry commented on #880
Thanks for your explanation.

Would you mean that the released OPT-30b essentially doesn't contain the decoder part (convert hidden_state to tokens)?
Thus I can't use it like GPT2 to generate sentences. But the model card and its config.json show `OPTForCausalLM `. If so,
how to load OPT to generate sentences?

[2022-11-24 03:43] ZeyiLiao opened #883 "Saving by stage3 error"
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

Run the code at

[2022-11-24 03:45] ZeyiLiao commented on #883
And I check the file at [here](https://huggingface.co/EleutherAI/gpt-j-6B/tree/main), how could we change the ckpt into one pytorch_model.bin to save storage.

[2022-11-24 06:13] pacman100 commented on #876
If this is resolved, can you please go ahead and close the issue?

[2022-11-24 06:14] ZeyiLiao commented on #876
Sure!

[2022-11-24 06:14] #876 closed

[2022-11-24 06:17] pacman100 commented on #883
Hello @ZeyiLiao, please see  https://github.com/huggingface/transformers/issues/20082#issuecomment-1306830280
Also, alternatively you can convert saved checkpoint to fp32 by going through `Offline FP32 Weights Recovery` subsection of https://huggingface.co/docs/transformers/main_classes/deepspeed#getting-the-model-weights-out

[2022-11-24 08:10] ZeyiLiao commented on #883
Hi @pacman100 thanks for your so useful reply!
But still have a quick question about why the ckpt from stage 2 would have 69 GB in total (if you see there are 3 * 23 GB in below fig) and how to change pytorch_model.bin.index into a normal pytorch_model.bin to save memory.  Like normally a ckpt for gptj6b would just be 23 GB at [here](https://huggingface.co/EleutherAI/gpt-j-6B/tree/main)
<img width

[2022-11-24 08:10] BruceStayHungry commented on #880
Well, I straightly use the `AutoModelForCausalLM.from_pretrained(model_name_or_path, device_map="auto")`  and it works for OPT.

[2022-11-24 09:40] cokuehuang opened #885 "accelerate test hangs at "NCCL INFO Launch mode Parallel""
### System Info

[code]

### Information

- [X] The official example scripts
- [ ] My own modified scripts

### Tasks

- [X] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [ ] My own task or dataset (give details below)

### Reproduction

export NCCL_DEB

[2022-11-24 12:23] EmreTaha opened #886 "Type error when importing"
### System Info

[code]

### Information

- [ ] The official example scripts
- [X] My own modified scripts

### Tasks

- [ ] One of the scripts in the examples/ folder of Accelerate or an officially supported `no_trainer` script in the `examples` folder of the `transformers` repo (such as `run_no_trainer_glue.py`)
- [X] My own task or dataset (give details below)

### Reproduction

`accelerate con

[2022-11-25 01:43] giulio98 commented on #875
Hello, this behavior indeed is quite strange, if the script above works for the first batch I don't see why it shouldn't work for the second batch. In any case, is possible to find somewhere a list of the libraries supported by accelerate and the ones not supported? For the moment is not very clear how to use this library with int8 quantization and deepspeed_for_inference.

[2022-11-25 03:30] pacman100 commented on #875
Hello @giulio98, https://github.com/huggingface/accelerate#supported-integrations has the list of all the integrations supported by Accelerate. For more details and guidance on how to use these, please refer the `How-To Guides` of the docs: https://huggingface.co/docs/accelerate/index

[2022-11-25 03:35] pacman100 commented on #883
Hello @ZeyiLiao, try passing `max_shard_size=30G` to the  `save_pretrained` and see if that leads to the behaviour you expect. I think this has less to do with DeepSpeed integration and more to do with how transformers saves large models

[2022-11-25 15:05] #764 closed

[2022-11-25 15:06] #763 closed

[2022-11-25 17:13] darraghdog commented on #864
@sgugger FYI, I got it working using the below on 5 x 40GB A100 cards... I think what I missed in the (tutorial)[https://huggingface.co/blog/bloom-inference-pytorch-scripts] was explicitely setting `max_memory` per card and setting it a bit lower than the card memory, to allow for the forward pass.

Its working like a charm now, thanks for all the work!

[code]

[2022-11-25 17:13] #864 closed

[2022-11-26 01:59] #880 closed

[2022-11-26 08:48] #854 closed

[2022-11-26 15:22] xiabingquan commented on #882
Thanks for your reply. Unluckily, it didn't resolve the issue :( Another error occurred. The full trackback is as follows:
[code]

It looks like `Accelerate` is trying to get the `batch_sampler` of a dataset even it doesn't have one.

[2022-11-27 05:52] stas00 opened #888 "`DISABLE_RICH` => `ACCELERATE_DISABLE_RICH`"
## Feature Update

I'm working on adding `M4_DISABLE_RICH` and noticed Accelerate didn't add the `ACCELERATE_` prefix to the same functionality, and uses `DISABLE_RICH`.

IMHO, it'd be good if each project kept its env vars contained to its "namespace", so users of each project can turn on/off different flags w/o impacting other projects. I am aware that this in no way interferes with my work. I j

[2022-11-27 15:05] #663 closed

[2022-11-28 00:53] sunformoon commented on #593
@SeoHyeong
Has you solved the `"FileNotFoundError: [Errno 2] No such file or directory: 'torchrun': 'torchrun'"` error?

[2022-11-28 13:59] muellerzr commented on #501
Hi @jianguoz! Sorry you responded just as I was off for vacation that week. As the directions state you should run `ssh-add ~/.ssh/google_compute_engine` on the machine to get `accelerate tpu-config` working, it wraps around a separate set of `gcp` commands

[2022-11-28 14:05] muellerzr commented on #888
Agreed, this is a very good point and *all* env variables I think should use `ACCELERATE` prefix so it's clear what's being set (unless specifically `torchrun` etc needs it). WDYT @sgugger @pacman100. We already did this with `ACCELERATE_LOG_LEVEL` so it would make sense to trickle this up and keep things consistent

[2022-11-28 14:55] sgugger commented on #888
Works for me!

[2022-11-28 15:45] muellerzr commented on #867
Hi @BurguerJohn I don't have a way to check windows currently, hoping to have something setup this week. In the interim can you try building via: `pip install git+https://github.com/huggingface/accelerate@fix-windows-cli` to see if that works for you?

[2022-11-28 15:50] muellerzr commented on #886
@EmreTaha which o.s. are you running on?

[2022-11-28 16:17] EmreTaha commented on #886
Hi, I am using CentOs 7

[2022-11-28 19:45] #888 closed

[2022-11-28 20:55] xzyaoi commented on #846
I run into exact the same issue as well. I am wondering if we should/could avoid this happening on the accelerate side? For example maybe we don't have to call upper() and store all keys? (Probably I am wrong, but I don't understand why we need to upper keys?) - or check keys before deleting? (probably safer but might be slower?)

If either approach is desired, I'd love to add a PR.

[2022-11-29 15:44] muellerzr commented on #874
Hi @r-matsuzaka this looks to have been fixed in https://github.com/huggingface/accelerate/pull/849, and will be solved in the next release which will be in a few days. In the interim install accelerate from github with `pip install git+https://github.com/huggingface/accelerate`.

[2022-11-29 15:53] muellerzr commented on #870
@antopost are you sure you're using the Accelerate kwarg handler class? As that's very important. This works for me:

[code]

This was ran on two GPUs

[2022-11-29 16:11] r-matsuzaka commented on #874
Hi, @muellerzr . Thank you very much for your reply and workaround. I will tri it and share the result here:)

[2022-11-29 16:13] antopost commented on #870
@muellerzr Yes, it works for me now. My I forgot to delete some code that broke the kwarghandler class. I'll make my edit a bit clearer.

[2022-11-29 18:03] stas00 commented on #888
Thank you for the fix, @muellerzr! and syncing the rest of the env vars too - awesome!

[2022-11-29 18:27] r-matsuzaka commented on #874
@muellerzr
Thank you very much. It worked! Is it okay to close the issue?

[2022-11-29 18:34] muellerzr commented on #874
Fantastic! Yep feel free :)

[2022-11-29 23:27] jianguoz commented on #501
@muellerzr Thanks for your instructions! We have tried the above steps, and most commands, such as ` python3 -m torch_xla.distributed.xla_dist` work across pods in V3-32. Only `accelerate tpu-config` does not work and shows connection errors to different IPs and fail to exec on multiple workers. Is it possible for you to go through the steps again to check if something is missing? Thanks:)

[2022-11-29 23:43] #874 closed

[2022-11-30 03:39] shizhediao commented on #314
same question

[2022-11-30 06:55] shizhediao commented on #314
I tried this one and solved it. Thanks!

[2022-11-30 22:07] muellerzr commented on #501
Hey @jianguoz, glad to hear `accelerate launch` is doing its job and setting that up right and starting training! I'll look into `accelerate tpu-config` tommorow and see if I missed a step I need to write or make it clearer, thanks for the feedback!! :)